.accordion {
  margin: 2em 0;
}

.accordion-trigger {
  font-size: 1em;
  background-color: #e7f0f4;
  color: #444;
  cursor: pointer;
  padding: 1em;
  width: 100%;
  border: 1px solid #fff;
  text-align: left; 
  transition: 0.4s;
  display: block;
  position: relative;
  padding-right: 4em;
  &:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 0.8em;
    color: #777;
    float: right;
    margin-left: 0.5em;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-50%);
  }
  &:focus,
  &:hover {
      background-color: #137cbd;
      color: #fff;
      z-index: 1;
  }
}



.accordion-trigger[aria-expanded="true"] {
  &:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #fff;
  }
}

.accordion-panel {
    padding: 0 1em;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}