// Full content
.node-type-alumni-stories {
	#pagetitle {
		text-align: center;
	}

	.alumny-story__cite {
		font-style: italic;
    	font-size: 0.8em;
    	text-align: center;
	}
}

.blockquote {
	font-size: 1.2em;
	letter-spacing: 0;
	line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}

.alumni-story__wrapper,
.view-alumni-stories {
	font-size: 1rem;
}

// Block
.view-alumni-stories {
	.more-link {
		text-align: center;

		a{
			@include sans-serif;
			border-bottom-style: dotted;
    		border-bottom-width: 1px;
    		text-transform: uppercase;
    		font-size: 0.8em;
		}
	}

	&.view-display-id-page {
		.view-content {
			margin-top: 4em;
		}

		.views-row {
			border-top: 1px solid #bbb;
		}
	}
}
