.announcement__container-teaser {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	font-size: 1rem;
	padding-left: 0;
}

.announcement {
	margin-bottom: 0;
	//text-align: center;
	flex: 1 1 100%;

	@media screen and (min-width:400px) {
		flex-basis: 50%;
	}

	@media screen and (min-width:600px) {
		flex: 1;
	}

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 0 .7rem;
}

.announcement__wrapper {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;

	h3 {
		font-weight: 400;
		margin-top: .254em;
		order: 2;

		a {
			font-size: 0.75em;
		}

	}

	> a {
		font-size: 0.85em;
		border-bottom: 0;
		display: block;
		width: 100%;
		line-height: 1;

		> img {
			width: 100%;
			padding-top: 1em;
		}

	}

}

.node-announcement {
	.description-and-image {
		>p {
			&:first-of-type {
				padding-top: 1.157em;
				font-size: 1.333rem;
			}

		}

	}

}

.submitted {
	font-size: 0.8em;
}
