.button-icon-h__wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

a.button-icon-h {
	display: flex;
	align-items: center; // center icon and text
	width: 100%;
	flex: 0 1 100%;
	background-color: $unlbrand;
	color: #fff;
	padding: 1em 1.333em;
	border-radius: 3px;
	margin-right: 1em;
	margin-bottom: 1em;
	font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
	line-height: 1.3;
	justify-content: center;

	@media (min-width: 31.25em) {
    width: 45%;
    flex-basis: 45%;
  }
  @media (min-width: 56em) {
    width: 23%;
    flex-basis: 23%;
  }

	&:hover, a:visited {
		background-color: $unlbrandhover;
		color: #fff;
	}

}
