// .card--button {
// 	font-size: 1rem;
// 	padding: 1em;

// 	> li {
// 	    display: block;
// 	    height: auto;
// 	    margin: 1em;

// 		> a {
// 		    padding: 2em;
// 		    max-width: 35em;
// 		    display: block;
// 		    margin: 0 auto;
// 		}
// 	}
// }

.card--card_button {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 1rem;

    a {
    	flex: 1;
    	font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
	    text-transform: uppercase;
	    font-size: 0.75em;
	    line-height: 1.5;
    	box-shadow: 0px 5px 0px 0px #795e16;
	    margin: 1em;
	    padding: 4em;
	    border-radius: 5px;
	    @include sans-serif;

	    display: flex;
	    flex-flow: column nowrap;
	    justify-content: center;
    }
}

.card--card_list {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .card {
	    flex: 1 1 auto;
	    padding: 1em 2em;
	    margin: 0.4em;
	    border-radius: 5px;
	    background-color: #eceae3;
	    min-width: 32%;

	    @media screen and (min-width: 500px) {
			flex-basis: 32%;
	    }
	}
}