/* Drug Chart */
.skin-ribbon{
    margin-left: auto;
    margin-right: auto;
    //font-family: 'Open Sans', sans-serif;
    width: 90%;
}

// fieldset{
//     margin-left: auto;
//     margin-right: auto;
//     font-family: 'Open Sans', sans-serif;
//     width: 90%;
// }
// #searchInput,#button{
//     background-color: #d8cfc5;
// }

fieldset {
    border: none
}

#drug-chart-form {
	background-color: #eee;
}

.helper, .uberHelper {
    position: relative;
    display: inline-block
}

.accordionIcon + i {
    padding-left: 10px;
    top: 50%;
    position: absolute;
    margin-top: -9px
}

i {
    vertical-align: top
}

i + .accordionIcon {
    padding-left: 10px
}

.noContent:before, .noContent:after {
    color: transparent !important;
    text-shadow: none !important;
    background-color: transparent !important;
    border-color: transparent !important
}

#searchInput {
    // width: 100%;
    // -webkit-border-top-right-radius: 4px;
    // -webkit-border-bottom-right-radius: 4px;
    // -webkit-border-bottom-left-radius: 4px;
    // -webkit-border-top-left-radius: 4px;
    // -moz-border-radius-topright: 4px;
    // -moz-border-radius-bottomright: 4px;
    // -moz-border-radius-bottomleft: 4px;
    // -moz-border-radius-topleft: 4px;
    // border-top-right-radius: 4px;
    // border-bottom-right-radius: 4px;
    // border-bottom-left-radius: 4px;
    // border-top-left-radius: 4px;
    // -moz-background-clip: padding-box;
    // -webkit-background-clip: padding-box;
    // background-clip: padding-box;
    // border: none;
    // margin-top: 40px;
    // font-size: 13px;
    // padding: 13px 0 13px 10px;
    // outline: 0
    display: inline-block;
    width: 84%;
    padding: .75em;
    font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
    outline: 0;
    border: 1px solid #d5d5d2;
    border-radius: 2px;
    background-color: #fff;
}

.searchButton {
    // position: relative;
    // display: inline-block;
    // margin-top: 1%;
    // outline: 0;
    // border: none;
    // top: -40px;
    // float: right;
    // right: 2px;
    // color: #999;
    // background-color: #FFF;
}

#button {
	padding: 1.769em 1.033em 1.6em;
    width: 14%;
}

ul[id^=accordion] {
    padding-left: 0;
    >li {
    	margin-left: 0;
    }
}

ul[id^=accordion] > li > ul {
    padding-left: 0;
}

ul[id^=accordion] > li > ul > li > ul {
    padding-left: 0;
}

.ctAccordion.skin-ribbon {
    -webkit-padding-start: 0 !important;
    list-style: none;
    position: relative
}

.ctAccordion.skin-ribbon ul {
    margin: 0;
    list-style: none;
    overflow: hidden;
    //line-height: 0;
    -webkit-padding-start: 0 !important
}

.ctAccordion.skin-ribbon a, 
.ctAccordion.skin-ribbon span {
    line-height: 20px;
    text-decoration: none;
    
    //font-family: 'Open Sans', sans-serif;
    //padding: 2px 20px 2px 0;
    //font-size: 16px;
    min-width: 50px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.ctAccordion.skin-ribbon a.noContent:after, .ctAccordion.skin-ribbon span.noContent:after {
    //font-size: 14px;
    padding-left: 10px;
    font-family: FontAwesome;
    color: #fff !important;
    content: "\f0da" !important
}

.ctAccordion.skin-ribbon .searchMatch {
    font-weight: 700;
    font-style: italic
}

.ctAccordion.skin-ribbon p {
    // line-height: 20px;
    // padding: 15px 20px;
    // margin-bottom: 0;
    // margin-top: 0
}

.ctAccordion.skin-ribbon > li {
    //line-height: 25px;
    width: 100%
}

.ctAccordion.skin-ribbon > li > a, 
.ctAccordion.skin-ribbon > li > span {
    //background: transparent url(../images/drug-chart/ribbon-upd-body.png);
    display: block;
    background-color: #737271;
    //margin-bottom: 15px;
    color: #fff;
    padding: 0 0 0 20px;
    width: 99%;
    //font-size: 16px;
    line-height: 43px;
    border-bottom: 1px solid white;
}

// .ctAccordion.skin-ribbon > li > a:before, 
// .ctAccordion.skin-ribbon > li > span:before {
//     display: block;
//     content: " ";
//     width: 23px;
//     height: 55px;
//     position: absolute;
//     left: -10px;
//     background: transparent url(../images/drug-chart/ribbon-upd-butt.png) repeat-x 0 0
// }

.ctAccordion.skin-ribbon > li > a .helper, 
.ctAccordion.skin-ribbon > li > span .helper {
    //float: right !important;
    //border-left: 15px solid #818181 !important;
    // border-bottom: 22px solid transparent !important;
    // border-top: 21px solid transparent !important;
    border-left: 15px solid #737271;
    border-bottom: 22px solid transparent;
    border-top: 21px solid transparent;
    width: 0;
    height: 0;
    //border-left: 0 solid #818181;
    //border-bottom: 0 solid transparent;
    //border-top: 0 solid transparent;
    position: relative;
    display: inline-block;
    float: right;
    top: -.5px;
    right: 0;
    bottom: 0;
    left: 14px
}

.ctAccordion.skin-ribbon > li > a:hover {
    padding: 0 0 0 30px
}

.ctAccordion.skin-ribbon > li span {
    color: rgba(255, 255, 255, .5) !important
}

.ctAccordion.skin-ribbon > li > ul {
    list-style: none;
    //margin-top: 10px;
    padding: 0 0 5px 25px;
    margin-left: 1em;
    margin-right: 1em;
}

.ctAccordion.skin-ribbon > li > ul > li {
    margin: 7px 0;
}

.ctAccordion.skin-ribbon > li > ul > li > a {
    padding: 0.75em 0 0.75em 1em;
    //color: #737271;
    border-bottom: 0;
    display: block;
    background-color: #eee;
}

.ctAccordion.skin-ribbon > li > ul > li > a:hover {
    //color: #000;
}

.ctAccordion.skin-ribbon > li > ul > li > a:before {
    // padding-right: 15px;
    // font-size: 16px;
    color: #818181;
    // position: relative;
    // font-family: FontAwesome;
    // content: "\f054";
    // width: 30px;

    content: '\f0c8';
    font-family: wdn-icon;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
}

.ctAccordion.skin-ribbon > li > ul > li > a.noContent:after {
    color: #818181 !important
}

.ctAccordion.skin-ribbon > li > ul > li > a.noContent:hover:after {
    color: #333 !important
}

.ctAccordion.skin-ribbon > li > ul > li span {
    color: rgba(129, 129, 129, .5) !important
}

.ctAccordion.skin-ribbon > li > ul > li > span {
    padding: 0 0 0 52px
}

.ctAccordion.skin-ribbon > li > ul > li.open > a {
    color: #333
}

.ctAccordion.skin-ribbon > li > ul > li > ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px
}

.ctAccordion.skin-ribbon > li > ul > li > ul > li {
    padding: 0 0 0 1em;
}

.ctAccordion.skin-ribbon > li > ul > li > ul > li > a, .ctAccordion.skin-ribbon > li > ul > li > ul > li > span {
    padding: 10px 0 5px 40px;
    color: #818181
}

.ctAccordion.skin-ribbon > li > ul > li > ul > li > a:hover, .ctAccordion.skin-ribbon > li > ul > li > ul > li > span:hover {
    color: #333
}

.ctAccordion.skin-ribbon > li > ul > li > ul > li > span {
    padding-left: 40px
}

.ctAccordion.skin-ribbon > li > ul > li > ul > li > p {
    padding: 10px 20px 15px 20px;
    //font-size: 12px
}



@media screen and (max-width: 768px) {


    ul[id^=accordion] {
        padding-bottom: 5% !important
    }

    ul[id^=accordion] .accordion:after {
        float: left !important;
        margin-left: 0 !important
    }

    ul[id^=accordion] li a:before {
        width: 0 !important;
        padding-right: 20px
    }

    #accordion4 li a:before {
        width: 100% !important;
        float: right !important;
        padding-right: 20 pxight20 !important
    }
}

