#follow-us {
	background-color: #1c3b4a;
	background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
}

.follow-us__wrapper {
	font-size: 1rem;
	h2 {
		font-size: 1.3em;
		text-transform: uppercase;
		color: #fff;
	}
	ul {
		display: flex;
    	justify-content: center;

		li {
			> a {
				display: block;
				border-bottom: 0;
			}

			[class^=icon-] {
				width: 4em;
		    	height: 4em;
			}
		}
	}
}