[class^=icon-] {
	display: block;
    background-position: center center;
    background-size: contain;
    margin: 0 auto;
}

.icon-logo-circle-facebook {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2021.0.2%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text/css%22%3E%0A%09.st0%7Bfill%3A%23365899%3B%7D%0A%09.st1%7Bfill%3A%23FFFFFF%3B%7D%0A%09.st2%7Bfill%3Anone%3B%7D%0A%3C/style%3E%0A%3Cg%20id%3D%22Filled_Icons%22%3E%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M12%2C0C5.4%2C0%2C0%2C5.4%2C0%2C12s5.4%2C12%2C12%2C12s12-5.4%2C12-12S18.6%2C0%2C12%2C0z%22/%3E%0A%09%3Cpath%20class%3D%22st1%22%20d%3D%22M15.6%2C11.5h-2.1c0%2C3%2C0%2C7%2C0%2C7h-3c0%2C0%2C0-4%2C0-7h-2v-2h2V8.3c0-1.1%2C0.4-2.8%2C2.6-2.8l2.4%2C0v2.3c0%2C0-1.2%2C0-1.4%2C0%0A%09%09c-0.2%2C0-0.6%2C0.1-0.6%2C0.6v1h2.3L15.6%2C11.5z%22/%3E%0A%3C/g%3E%0A%3Cg%20id%3D%22Frames-24px%22%3E%0A%09%3Crect%20class%3D%22st2%22%20width%3D%2224%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.icon-logo-circle-twitter-bird {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2021.0.2%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text/css%22%3E%0A%09.st0%7Bfill%3A%231DA1F3%3B%7D%0A%09.st1%7Bfill%3A%23FFFFFF%3B%7D%0A%09.st2%7Bfill%3Anone%3B%7D%0A%3C/style%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M12%2C0C5.4%2C0%2C0%2C5.4%2C0%2C12s5.4%2C12%2C12%2C12s12-5.4%2C12-12S18.6%2C0%2C12%2C0z%22/%3E%0A%3Cpath%20class%3D%22st1%22%20d%3D%22M17.3%2C9.4c0%2C0.1%2C0%2C0.2%2C0%2C0.3c0%2C3.5-2.6%2C7.5-7.5%2C7.5c-1.5%2C0-2.9-0.4-4-1.2c1.4%2C0.2%2C2.8-0.2%2C3.9-1.1%0A%09c-1.2%2C0-2.1-0.8-2.5-1.8c0.4%2C0.1%2C0.8%2C0.1%2C1.2%2C0c-1.2-0.2-2.1-1.3-2.1-2.6c0%2C0%2C0%2C0%2C0%2C0c0.4%2C0.2%2C0.8%2C0.3%2C1.2%2C0.3%0A%09c-0.7-0.5-1.2-1.3-1.2-2.2c0-0.5%2C0.1-0.9%2C0.4-1.3c1.3%2C1.6%2C3.2%2C2.6%2C5.4%2C2.8C12%2C9.8%2C12%2C9.6%2C12%2C9.4c0-1.5%2C1.2-2.6%2C2.6-2.6%0A%09c0.8%2C0%2C1.4%2C0.3%2C1.9%2C0.8c0.6-0.1%2C2-0.3%2C2-0.3C18.1%2C7.9%2C17.8%2C9%2C17.3%2C9.4z%22/%3E%0A%3Cg%20id%3D%22Frames-24px%22%3E%0A%09%3Crect%20class%3D%22st2%22%20width%3D%2224%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.inline-icon-white {
	fill: #fff;
  margin-right: 11px;
}

.inline-icon-text {
	fill: #474746;
  margin-right: 11px;
}