.infographic {
	width: 100%;
	flex: 1 1 auto;
	text-align: center;
	margin-bottom: 1em;
	padding: 1em;

	@media screen and (min-width:640px){
		width: 30%;
	}

	&-emp {
		font-size: 2em;
		display: block;
		line-height: 1.3;
    margin-bottom: 0.2em;
	}

	&-normal {
		display: block;
	}

	&-gridset {
		position: relative;
		font-size: 1rem;

		&:before, &:after {
			position: absolute;
			content: "";
			right: 0;
			bottom: 0;
			background: #d00000;
			transition: all 0.3s ease;
		}

		&:before {
			height: 50%;
			width: 2px;
		}

		&:after {
			width: 20%;
			height: 2px;
		}

	}

	&__wrapper {
		position: relative;
		display: flex;
    flex-flow: row wrap;
    padding: 1.5em 2em;
    justify-content: space-between;

		&:before, &:after {
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			background: #d00000;
			transition: all 0.3s ease;
		}

		&:before {
			height: 50%;
			width: 2px;
		}

		&:after {
			width: 20%;
			height: 2px;
		}

	}

}
