.knockout-around {
  position: relative;
  width: 400px;
  padding: 20px;
  border: 5px solid transparent;
  border-right-color: #d00000;
  margin: 40px auto;
  &:before,
  &:after {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(#000),
      to(transparent)
    );
    background-image: -webkit-linear-gradient(to right, transparent, #d00000);
    background-image: -moz-linear-gradient(to right, transparent, #d00000);
    background-image: -o-linear-gradient(to right, transparent, #d00000);
    background-image: linear-gradient(to right, transparent, #d00000);
    left: 0;
    right: 0;
    width: calc(100% + 4px);
  }

  &:before {
    top: -5px;
    bottom: 100%;

  }

  &:after {
    top: 100%;
    bottom: -5px;
  }
}