ul {
    list-style: outside disc;
    
    > li {
	    margin-left: 1em;
	}
}

.multicolumn {
	@media screen and (min-width: 700px){
		column-count: 2;
    	column-width: 13em;
    	column-gap: 2.5em;
    }
}

// Steps
.steps {
	list-style-type: none;
    counter-reset: ol-counter;
    padding: 20px 0 0 0;

	li {
		float: left;
	    font-size: 15px;
	    line-height: 1.6em;
	    display: block;

		&:before {
		    content: counter(ol-counter);
		    counter-increment: ol-counter;
		    color: #d00000;
		    font-size: 2em;
		    border-right: 1px #5b5b5a solid;
		    padding-right: 0.5em;
		    margin-right: 0.5em;
		    width: 0.5em;
    		height: 1.7em;
		    margin-bottom: 1.5em;
		    float: left;
	   	}
	}
}