.home__featured-band {
	display: flex;
	flex-flow: row wrap;
}

.home__featured {
	flex: 1 0 100%;
    position: relative;
    font-size: 1rem;
    background-color: #492423;

    display: flex;
    flex-flow: column wrap;

    @media screen and (min-width:600px) {
    	flex-basis: 58%;
    }

    >img {
    	height: 35em;
    	object-fit: contain;
    	//background-color: #492423;

    }
}

.feature__container {
	position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 2em;
}

.feature__content {
	font-size: 1.4rem;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    >span {
    	font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
    	text-transform: uppercase;
    }
}

.feature__lg-text {
	font-size: 5em;
    line-height: 1.3;
    padding: 0.1em 0.2em;
    position: relative;

    &:before {
	    content: "";
	    height: 1.6em;
	    width: 1.6em;
	    border: 11px solid rgba(255,255,255,0.3);
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%) rotate(45deg);
	}
}

.feature__sm-text {
	font-size: 1.4em;
}

.feature__xs-text {
	border-top: 2px solid rgba(255,255,255,0.8);
    border-bottom: 2px solid rgba(255,255,255,0.8);
    font-size: 0.8em;
    color: #d6d5d5;
}

.mission--alternative {
	flex: 1 0 100%;

    display: flex;
    align-items: center;

    @media screen and (min-width:600px) {
    	flex-basis: 38%;
    }
}

.mission__container {
	padding: 2em;
	width: 100%;
}

.mission,
.mission--alternative {
	font-size: 1rem;

	h2 {
		font-size: 3em;
		text-transform: capitalize;
	}
}