.image--right-sm {
	float: right;
	margin-left: 1em;
	margin-top: 0;
	width: 40%;
}

.image--md {
	max-width: 70%;
}

.project__link,
.announcement__link {
	margin-top: 2em;
}

.project__team-band {
	border-top: 1px solid #d5d5d2;
    margin-top: 3em;
}