.page-faculty-and-staff {
	.view-staff {
		margin-top: 4em;
	}
}

h1 {
	.page-faculty-and-staff &,
	.page-node-5 &{
		text-align: center;
		text-transform: capitalize;
	}
}



.staff__container {
	display: flex;
	flex-flow: row wrap;
}

.staff {
	

	.field-label {
		font-size: 2em;
	    @include tungsten;
	}

	.field-name-field-image,
	.views-field-field-image {
		img {
			border: 1px solid #d5d5d2;
    		padding: 0.4em;
		}
	}
}

.staff--teaser {
	font-size: 0.8rem;
	text-align: center;
	padding: 1em;
	flex: 0 0 50%;

	@media screen and (max-width: 350px){
		padding: 0.2em;
	}

	@media screen and (min-width: 500px){
		flex-basis: 33.33%;
	}
	@media screen and (min-width: 992px){
		flex-basis: 25%;
	}
}

.staff--full {
	font-size: 1rem;
	padding-top: 2em;
    padding-bottom: 2em;
	@media screen and (min-width: 700px){
		display: flex;
		flex-flow: row nowrap;
	}
}

.staff--color {
	background-color: $neutral;
	padding: 3em;
	border-radius: 4px;
}

.staff__primary {
	@media screen and (max-width: 699px){
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

	@media screen and (min-width: 700px){
		flex: 1 0 20%;
	}

	.staff--reverse & {
		@media screen and (min-width: 700px){
			order: 2;
			padding-left: 2em;
		}
	}
}

.staff__secondary {
	@media screen and (min-width: 700px){
		flex: 1 0 80%;
		padding-left: 2em;
	}

	.staff--reverse & {
		@media screen and (min-width: 700px){
			order: 1;
			padding-left: 0;
		}
	}
}

.staff__title {
	.staff--full & {
		font-size: 1em;
		line-height: 1.5;
		@include subhead;
	}

	.staff--teaser & {
		font-size: 0.8em;
	}
}

.staff__image {
	@media screen and (max-width: 699px){
		flex: 1 0 30%;
	}
}

.staff__information {
	.staff--full & {
		@media screen and (max-width: 699px){
			flex: 1 0 70%;
			padding-left: 2em;
		}
		> span {
			display: block;
		}
	}
	.staff--teaser & {
		//padding: 0.5em;
	}
}

.field-name-field-area-of-interest {
	ul {
		@media screen and (min-width: 700px){
			column-count: 2;
	    	column-width: 13em;
	    	column-gap: 2.5em;
	    }
	}
}