.margin-bottom--default {
	margin-bottom: 2em;
}

.well {
	background-color: $neutral;
    padding: 1em 3em 2em;
    border-radius: 4px;
}

.wdn-button {
	padding: 1.369em 2.033em 1.4em;
}

.background--diamond-pattern {
	background-color: #d00000;
	background-image: linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0) 100%),linear-gradient(to top,rgba(0,0,0,0.8),rgba(0,0,0,0) 100%), url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e70a0a' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
    //background-size: 5em;
    color: #fff;

    h2 {
    	color: #fff;
    }
}

.visual-highlight {
    background-color: #B34E26;
    color: #fff;
}

.table--responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.title-line {
    margin-top: 0;
    margin: 0 .7rem;
    border-bottom: 1px solid #eae9e6;
    text-transform: uppercase;
    padding-bottom: 0.339em;
}

