// more link
.more-link a {
	@include sans-serif;
	font-size: .7692308rem;
	text-transform: uppercase;
    letter-spacing: .02em;
    @media screen and (min-width: 48em) {
    	font-size: .75rem;
    }

    &:after {
    	content: '\2192';
    	padding-left: .254em;
    }
}