<div class="wdn-band wdn-promo-band">
  <img class="wdn-stretch" src="images/sharp-building.jpg" alt="">
  <div class="wdn-promo-container">
    <div class="wdn-promo-content">
      <span class="wdn-promo-text">About</span>
    </div>
  </div>
</div>
<div class="wdn-band">
  <div class="wdn-inner-wrapper">
    <p>The Center on Children, Families, and the Law (CCFL) is one of 59 departments, centers, programs, or institutes located within the College of Arts and Sciences (CAS) at University of Nebraska–Lincoln. CCFL was established in 1987 to serve as a home for interdisciplinary research, teaching, and public service on issues related to child and family policy and services. The knowledge of child and family issues we gain is used in ways that make it easier to educate policy makers, scholars, service providers, and the general public. In fact, our work serves as the primary basis for new local, state, and national legislation and has been cited in court rulings, including the U.S. Supreme Court.</p>
    <h2>Our Mission</h2>
    <blockquote class="wdn-quote">
      Helping the helpers: We provide an interdisciplinary and collaborative approach to improve systems and outcomes for children and families.
    </blockquote>
  </div>
</div><div class="wdn-band wdn-light-neutral-band">
<div class="wdn-inner-wrapper">
  <h2 class="wdn-center">Learn more about ...</h2>
  <div class="wdn-grid-set">
    <div class="wdn-col button-icon-h__wrapper">
      <a class="button-icon-h"  href="about/who-we-serve">Who We Serve</a>
      <a class="button-icon-h" href="about/history">History</a>
      <a class="button-icon-h" href="about/giving">Giving</a>
    </div>
  </div>
</div>
</div>