<div class="wdn-grid-set">
	<div class="bp768-wdn-col-one-half">
		<h2>Why give to CCFL?</h2>
		<p>The Center for Children, Families and the Law (CCFL) was established in 1987 as a home for interdisciplinary research, teaching, and public service on issues related to child and family policy and services. Gifts to this fund allow CCFL to continue and expand the projects and programs that fulfill its mission to provide an interdisciplinary and collaborative approach to improve systems and outcomes for children and families.</p>
		<p><a href="https://nufoundation.org/-/unl-college-of-arts-and-sciences-center-on-children-families-and-the-law-fund-01048020" class="wdn-button wdn-button-brand">Give online now</a></p>
	</div>
	<div class="bp768-wdn-col-one-half">
		<figure class="wdn-frame clear-top">
			<img src="images/51794112_xxl-min.jpg" alt="A woman playing with a child." />
		</figure>
	</div>
</div>


