<div class="wdn-band">
	<div class="wdn-inner-wrapper">
		<fieldset id="drug-chart-form">
			<label class="wdn-text-hidden" for="searchInput">Search</label>
			<input id="searchInput" type="text" name="search" placeholder="Search for words or phrases within the drug chart">
			<button id="button" class="searchButton wdn-button wdn-button-triad">
			<i class="wdn-icon-search"></i><span class="wdn-text-hidden">Search</span>
			</button>
		</fieldset>
		<ul id="accordion" class="skin-ribbon">
			<li>
				<a href="#">Cannabinoids</a>
				<ul>
					<li>
						<a href="#">Marijuana/Cannabis</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Not Applicable</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Blunt, Dope, Ganja, Grass, Herb, Joint, Mary Jane, Pot, Reefer, Sinsemilla, Skunk, Weed</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Dilated pupils, rolling papers, &quot;sweet&quot; smell, bloodshot eyes, sleepy appearance, reduced motivation, difficulty thinking, dry  mouth, impaired judgment, inappropriate laughter, increased appetite, reduced coordination, isolation, discolored fingers, use of incense, strong odor of burnt leaves. K2 is similar to marijuana with possible vomiting, seizures, coma, hallucinations, tingling or numbness, high blood pressure, panic attacks, threating behavior, inability to speak </td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Rolling papers, bongs, pipes, grinders, roach clips, lighters, air fresheners or incense use, burnt leaves, bags with green leafy substances, seeds or stems, bottles of visine, stickers, t-shirts, posters</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed, Smoked, Ingested</td>
										</tr>
										<tr>
											<th>Duration in Urine</th>
											<td class="visual-highlight">1 to 30 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</th>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</th>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</th>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/marijuana" target="_blank">https://www.drugabuse.gov/drugs-abuse/marijuana</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/marijuana.jpg" alt="Marijuanna"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">K2</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Not Applicable</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>K2, K3, Spice</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Dilated pupils, rolling papers, &quot;sweet&quot; smell, bloodshot eyes, sleepy appearance, reduced motivation, difficulty thinking, dry  mouth, impaired judgment, inappropriate laughter, increased appetite, reduced coordination, isolation, discolored fingers, use of incense, strong odor of burnt leaves. K2 is similar to marijuana with possible vomiting, seizures, coma, hallucinations, tingling or numbness, high blood pressure, panic attacks, threating behavior, inability to speak </td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Rolling papers, bongs, pipes, grinders, roach clips, lighters, air fresheners or incense use, burnt leaves, bags with green leafy substances, seeds or stems, bottles of visine, stickers, t-shirts, posters</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Smoked, Swallowed </td>
										</tr>
										<tr>
											<th>Duration in Urine</th>
											<td rowspan="4" class="visual-highlight">
												<p>Specialized Testing Only* </td>
										</tr>
										<tr>
											<th>Oral Fluid</th>
										</tr>
										<tr>
											<th>Duration in Hair</th>
										</tr>
										<tr>
											<th>Sweat</th>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/synthetic-cannabinoids" target="_blank">https://www.drugabuse.gov/publications/drugfacts/synthetic-cannabinoids</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/k2.jpg" width="174" height="89" alt="K2"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Hashish</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Not Applicable</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Boom, Chronic, Gangster, Hash, Hash Oil, Hemp</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Dilated pupils, rolling papers, &quot;sweet&quot; smell, bloodshot eyes, sleepy appearance, reduced motivation, difficulty thinking, dry  mouth, impaired judgment, inappropriate laughter, increased appetite, reduced coordination, isolation, discolored fingers, use of incense, strong odor of burnt leaves. K2 is similar to marijuana with possible vomiting, seizures, coma, hallucinations, tingling or numbness, high blood pressure, panic attacks, threating behavior, inability to speak </td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Rolling papers, bongs, pipes, grinders, roach clips, lighters, air fresheners or incense use, burnt leaves, bags with green leafy substances, seeds or stems, bottles of visine, stickers, t-shirts, posters</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed, Smoked</td>
										</tr>
										<tr>
											<th>Duration in Urine</th>
											<td class="visual-highlight">1 to 30 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</th>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</th>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</th>
											<td class="visual-highlight">7 to 14 days </td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="http://www.drugs.com/illicit/hashish.html" target="_blank">http://www.drugs.com/illicit/hashish.html</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/Hashish.jpg" width="174" height="101" alt="Hashish"/>
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Depressants</a>
				<ul>
					<li>
						<a href="#">Alcohol</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Beer, Wine, Liquor</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Booze, Juice, Hooch</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Unusually relaxed, difficulty with speech, overly friendly, red faced, sweating, giggling, clumsy, red eyes, miscalculating depth or distance, stumbling, poor posture, slurred speech, shouting or cursing, aggression in some, smell of alcohol</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Empty bottles or cans, pills in unmarked containers or bags, multiple prescriptions from different doctors and pharmacies, needles</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">10 to 12 Hours EtG - up to 48 hours</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">After absorption (1 hour) decreases .02 gm%/hour</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Not Applicable</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">Not Applicable</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.niaaa.nih.gov" target="_blank">https://www.niaaa.nih.gov</a><br>
													<a href="http://www.cdc.gov/alcohol" target="_blank">http://www.cdc.gov/alcohol</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/alcohol.jpg" width="174" height="155" alt="Alcohol"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Barbiturates</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Amytal, Nembutal, Seconal, Phenobarbital</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Barbs, Reds, Red Birds, Phennies, Tooies, Yellows, Yellow Jackets</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Unusually relaxed, difficulty with speech, overly friendly, red faced, sweating, giggling, clumsy, red eyes, miscalculating depth or distance, stumbling, poor posture, slurred speech, shouting or cursing, aggression in some, smell of alcohol</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Empty bottles or cans, pills in unmarked containers or bags, multiple prescriptions from different doctors and pharmacies, needles</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Injected, Swallowed</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">Up to 7 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">Not Applicable </td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.nlm.nih.gov/medlineplus/ency/article/000951.htm" target="_blank">https://www.nlm.nih.gov/medlineplus/ency/article/000951.htm</a>
													<br>
													<a href="http://www.narconon.org/drug-information/barbiturates.html" target="_blank">http://www.narconon.org/drug-information/barbiturates.html</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/barbiturates.jpg" width="174" height="120" alt="Barbiturates"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Benzodiazepines</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Ativan, Halcion, Librium, Valium, Xanax</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Ativan, Halcion, Librium, Valium, Xanax, Candy, Downers, Sleeping Pills, Tanks</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Unusually relaxed, difficulty with speech, overly friendly, red faced, sweating, giggling, clumsy, red eyes, miscalculating depth or distance, stumbling, poor posture, slurred speech, shouting or cursing, aggression in some, smell of alcohol</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Empty bottles or cans, pills in unmarked containers or bags, multiple prescriptions from different doctors and pharmacies, needles</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Injected, Swallowed</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">Up to 7 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">Not Applicable </td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="http://www.drugs.com/drug-class/benzodiazepines.html" target="_blank">http://www.drugs.com/drug-class/benzodiazepines.html</a>
													<br>
													<a href="http://www.narconon.org/drug-abuse/effects-of-benzodiazepine.html">http://www.narconon.org/drug-abuse/effects-of-benzodiazepine.html</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/benzodiazepines.jpg" width="174" height="124" alt="Benzodiazepines"/>
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Anesthetics</a>
				<ul>
					<li>
						<a href="#">PCP</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Phencyclidine</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Angel Dust, Boat, Hog, Love Boat, Peace Pill, Amoeba, Amp, Animal Trank, Zoom, Sherm Sticks, STP, Embalming Fluid</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Sedated, unable to move, amnesia, slurred speech, blank stare, rapid eye movements, high blood pressure, stuttering, poor memory, inability to think clearly, suicidal statements</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Reports of missing items or money, unable to account for money spent, unexplained pills or capsules, needles, burnt spoons, eye droppers, powdery subtances in small bags</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Injected, Swallowed, Smoked, Snorted</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">5 to 6 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Not Applicable</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="http://www.drugs.com/illicit/pcp.html" target="_blank">http://www.drugs.com/illicit/pcp.html</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/pcp.jpg" width="174" height="131" alt="PCP"/>
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Opioids and Morphine</a>
				<ul>
					<li>
						<a href="#">Codine</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Empirin with Codeine, Florinal with Codeine, Robitussin A-C, Tylenol with Codeine</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Captain Cody, Cody, Schoolboy, Doors and Fours, Loads, Pancakes and Syrup, Sizzurp</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Euphoria, drowsiness, lethargy, mellowness, dizziness, dry mouth, suppressed breathing, itching, hives, nausea, loss of appetite, weight loss, headache, difficulty seeing, difficulty sleeping, sweating, shaking, swollen extremities, needle marks on skin. Use of Krokodil is very dangerous and can result in green, scaly, bumpy skin at injection sites, and gangrene.</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, chemicals, prescriptions under false names, powders, bags, pills, glass tubes, lighters, foils, burnt spoons, small sections of mirrors that are scratched up, pipes, razor blades, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Injected, Swallowed</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">2 to 4 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/research-reports/prescription-drugs/opioids/what-are-opioids" target="_blank">https://www.drugabuse.gov/publications/research-reports/prescription-drugs/opioids/what-are-opioids</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/codeine.jpg" width="174" height="200" alt="Codeine"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Krokodil</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Desomorphine, Chlorocodide</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Russian Magic, Cheornaya, Himiya</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Euphoria, drowsiness, lethargy, mellowness, dizziness, dry mouth, suppressed breathing, itching, hives, nausea, loss of appetite, weight loss, headache, difficulty seeing, difficulty sleeping, sweating, shaking, swollen extremities, needle marks on skin. Use of Krokodil is very dangerous and can result in green, scaly, bumpy skin at injection sites, and gangrene.</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, chemicals, prescriptions under false names, powders, bags, pills, glass tubes, lighters, foils, burnt spoons, small sections of mirrors that are scratched up, pipes, razor blades, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Injected</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td rowspan="4" class="visual-highlight">
												<p>Specialized Testing Only* </td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
										</tr>
										<tr>
											<th>Sweat</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="http://www.drugs.com/illicit/krokodil.html" target="_blank">http://www.drugs.com/illicit/krokodil.html</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/krokodil.jpg" width="174" height="115" alt="Krokodil"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Fentanyl</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Actiq, Duragesic, Sublimaze</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Apache, China Girls, China White, Dance Fever, Friend, Goodfella, Jackpot, Murder 8, TNT, Tango and Cash </td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Euphoria, drowsiness, lethargy, mellowness, dizziness, dry mouth, suppressed breathing, itching, hives, nausea, loss of appetite, weight loss, headache, difficulty seeing, difficulty sleeping, sweating, shaking, swollen extremities, needle marks on skin. Use of Krokodil is very dangerous and can result in green, scaly, bumpy skin at injection sites, and gangrene.</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, chemicals, prescriptions under false names, powders, bags, pills, glass tubes, lighters, foils, burnt spoons, small sections of mirrors that are scratched up, pipes, razor blades, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Injected, Smoked, Snorted</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">2 to 4 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/fentanyl" target="_blank">https://www.drugabuse.gov/drugs-abuse/fentanyl</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/Fentanyl.jpg" width="174" height="116" alt="Fentanyl"/>
									<img src="images/drug-chart/fentanyl2.JPG" width="174" height="98" alt="Fentanyl"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Heroin</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Diacetylmorphine</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Brown Sugar, Dope, H, Horse, Junk, Skag, Skink, Smack, White Horse</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Euphoria, drowsiness, lethargy, mellowness, dizziness, dry mouth, suppressed breathing, itching, hives, nausea, loss of appetite, weight loss, headache, difficulty seeing, difficulty sleeping, sweating, shaking, swollen extremities, needle marks on skin. Use of Krokodil is very dangerous and can result in green, scaly, bumpy skin at injection sites, and gangrene.</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, chemicals, prescriptions under false names, powders, bags, pills, glass tubes, lighters, foils, burnt spoons, small sections of mirrors that are scratched up, pipes, razor blades, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Injected, Smoked, Snorted</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">2 to 4 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/heroin" target="_blank">https://www.drugabuse.gov/publications/drugfacts/heroin</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/heroin.jpg" width="174" height="130" alt="Heroin"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Morphine</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Roxanol, Duramorph</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>M, Miss Emma, Monkey, White Stuff</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Euphoria, drowsiness, lethargy, mellowness, dizziness, dry mouth, suppressed breathing, itching, hives, nausea, loss of appetite, weight loss, headache, difficulty seeing, difficulty sleeping, sweating, shaking, swollen extremities, needle marks on skin. Use of Krokodil is very dangerous and can result in green, scaly, bumpy skin at injection sites, and gangrene.</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, chemicals, prescriptions under false names, powders, bags, pills, glass tubes, lighters, foils, burnt spoons, small sections of mirrors that are scratched up, pipes, razor blades, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Injected, Swallowed, Smoked</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">2 to 4 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/heroin" target="_blank">https://www.drugabuse.gov/publications/drugfacts/heroin</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/morphine.jpg" width="174" height="174" alt="Morphine"/>
									<img src="images/drug-chart/morphine2.jpg" width="174" height="106" alt="Morphine"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Opium</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Laudanum, Paregoric</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Big O, Black Stuff, Block, Gum, Hop</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Euphoria, drowsiness, lethargy, mellowness, dizziness, dry mouth, suppressed breathing, itching, hives, nausea, loss of appetite, weight loss, headache, difficulty seeing, difficulty sleeping, sweating, shaking, swollen extremities, needle marks on skin. Use of Krokodil is very dangerous and can result in green, scaly, bumpy skin at injection sites, and gangrene.</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, chemicals, prescriptions under false names, powders, bags, pills, glass tubes, lighters, foils, burnt spoons, small sections of mirrors that are scratched up, pipes, razor blades, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed, Smoked</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">2 to 4 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/heroin" target="_blank">https://www.drugabuse.gov/publications/drugfacts/heroin</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/opium.jpg" width="174" height="129" alt="Opium"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Oxycodone</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Oxycontin</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Ocy, O.C., Killer</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Euphoria, drowsiness, lethargy, mellowness, dizziness, dry mouth, suppressed breathing, itching, hives, nausea, loss of appetite, weight loss, headache, difficulty seeing, difficulty sleeping, sweating, shaking, swollen extremities, needle marks on skin. Use of Krokodil is very dangerous and can result in green, scaly, bumpy skin at injection sites, and gangrene.</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, chemicals, prescriptions under false names, powders, bags, pills, glass tubes, lighters, foils, burnt spoons, small sections of mirrors that are scratched up, pipes, razor blades, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed, Snorted, Injected</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">2 to 4 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/prescription-drugs-cold-medicines" target="_blank">https://www.drugabuse.gov/drugs-abuse/prescription-drugs-cold-medicines</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/oxycodone.jpg" width="174" height="116" alt="Oxycodone"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Hydrocodone</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Vicodin</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Vike, Watson-387</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Euphoria, drowsiness, lethargy, mellowness, dizziness, dry mouth, suppressed breathing, itching, hives, nausea, loss of appetite, weight loss, headache, difficulty seeing, difficulty sleeping, sweating, shaking, swollen extremities, needle marks on skin. Use of Krokodil is very dangerous and can result in green, scaly, bumpy skin at injection sites, and gangrene.</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, chemicals, prescriptions under false names, powders, bags, pills, glass tubes, lighters, foils, burnt spoons, small sections of mirrors that are scratched up, pipes, razor blades, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">2 to 4 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/prescription-drugs-cold-medicines" target="_blank">https://www.drugabuse.gov/drugs-abuse/prescription-drugs-cold-medicines</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/hydrocodone.jpg" width="174" height="108" alt="Hydrocodone"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Methadone</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Dolophone, Methadone</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Euphoria, drowsiness, lethargy, mellowness, dizziness, dry mouth, suppressed breathing, itching, hives, nausea, loss of appetite, weight loss, headache, difficulty seeing, difficulty sleeping, sweating, shaking, swollen extremities, needle marks on skin. Use of Krokodil is very dangerous and can result in green, scaly, bumpy skin at injection sites, and gangrene.</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, chemicals, prescriptions under false names, powders, bags, pills, glass tubes, lighters, foils, burnt spoons, small sections of mirrors that are scratched up, pipes, razor blades, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed, Injected</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">2 to 4 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/treatment-approaches-drug-addiction" target="_blank">https://www.drugabuse.gov/publications/drugfacts/treatment-approaches-drug-addiction</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/methadone.jpg" width="174" height="116" alt="Methadone"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Buprenorphine</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Subutex, Buprenex, Temgesic, Suboxone</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Euphoria, drowsiness, lethargy, mellowness, dizziness, dry mouth, suppressed breathing, itching, hives, nausea, loss of appetite, weight loss, headache, difficulty seeing, difficulty sleeping, sweating, shaking, swollen extremities, needle marks on skin. Use of Krokodil is very dangerous and can result in green, scaly, bumpy skin at injection sites, and gangrene.</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, chemicals, prescriptions under false names, powders, bags, pills, glass tubes, lighters, foils, burnt spoons, small sections of mirrors that are scratched up, pipes, razor blades, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed, Injected</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">2 to 4 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/treatment-approaches-drug-addiction" target="_blank">https://www.drugabuse.gov/publications/drugfacts/treatment-approaches-drug-addiction</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/Buprenorphine.jpeg" width="174" height="131" alt="Buprenorphine"/>
									<img src="images/drug-chart/Buprenorphine2.jpg" width="174" height="131" alt="Buprenorphine"/>
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Stimulants</a>
				<ul>
					<li>
						<a href="#">Amphetamines</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Biphetamine, Dexedrine</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Bennies, Black Beauties, Crosses, Hearts, LA Turnaround, Speed, Truck Driver, Uppers</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Burst in energy, doesn't sleep for long periods, loss of apperitite, weight loss, unusally active, nervous, anxious, sweaty, pupils dilated</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, large quantities or out of the ordinary chemicals, prescriptions under false names, powders, bags, pills, crystals, glass tubes, lighters, foils, burnt spoons or foils, small sections of mirrors or flat metal that are scratched up, razor blades, balloons, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Injected, Swallowed, Smoked, Snorted</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">2 to 4 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/stimulant-adhd-medications-methylphenidate-amphetamines" target="_blank">https://www.drugabuse.gov/publications/drugfacts/stimulant-adhd-medications-methylphenidate-amphetamines</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/amphetamine.jpg" width="174" height="120" alt="Amphetamines"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Cocaine</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Cocaine hydrochloride</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Blow, Bump, C, Candy, Charlie, Coke, Crack, Flake, Rock, Snow, Toot</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Burst in energy, doesn't sleep for long periods, loss of apperitite, weight loss, unusally active, nervous, anxious, sweaty, pupils dilated</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, large quantities or out of the ordinary chemicals, prescriptions under false names, powders, bags, pills, crystals, glass tubes, lighters, foils, burnt spoons or foils, small sections of mirrors or flat metal that are scratched up, razor blades, balloons, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Injected, Smoked, Snorted</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">1 to 3 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/cocaine" target="_blank">https://www.drugabuse.gov/publications/drugfacts/cocaine</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/cocaine.jpg" width="174" height="115" alt="Cocaine"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Methamphetamine</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Desoxyn</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Chalk, Crank, Crystal, Fire, Glass, Go Fast, Ice, Meth, Speed</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Burst in energy, doesn't sleep for long periods, loss of apperitite, weight loss, unusally active, nervous, anxious, sweaty, pupils dilated</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Large quantities of over the counter pain relievers, measuring cups, bunsen burners, filters, needles, prescription bottles, large quantities or out of the ordinary chemicals, prescriptions under false names, powders, bags, pills, crystals, glass tubes, lighters, foils, burnt spoons or foils, small sections of mirrors or flat metal that are scratched up, razor blades, balloons, large amounts of unaccounted cash</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Injected, Swallowed, Smoked, Snorted</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">2 to 5 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">7 to 14 days</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/methamphetamine" target="_blank">https://www.drugabuse.gov/drugs-abuse/methamphetamine</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/methamphetamine.jpg" width="174" height="116" alt="Methamphetamine"/>
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Hallucinogens</a>
				<ul>
					<li>
						<a href="#">LSD</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Lysergic Acid, Diethylamide</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Acid, LSD</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Dilated pupils, salivation or dry mouth, tingling fingers or toes, weakness, emotional distress, sweating or chills, inability to complete tasks, dizziness, nausea, convulsions</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Unusual liquids, powders, tablets, or capsules, paper squares with colorful designs, paper evenlopes, stickers, sugar cubes, soda crackers that seem unusal, liquid droppers, eye droppers, bags of mushrooms, bags of marijuana type plants</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed, Absorbed</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td rowspan="4" class="visual-highlight">
												<p>Specialized Testing Only* </td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
										</tr>
										<tr>
											<th>Sweat</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/hallucinogens" target="_blank">https://www.drugabuse.gov/drugs-abuse/hallucinogens</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/lsd.jpg" width="174" height="152" alt="LSD"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Mescaline</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Not Applicable</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Peyote, Cactus, Mesc</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Nausea, vomiting, shaking hands and feet, panic attacks, fear, sweating, high blood pressure, no appetite, exaggerated emotions, rapid mood swings, confusion</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Unusual liquids, powders, tablets, or capsules, paper squares with colorful designs, paper evenlopes, stickers, sugar cubes, soda crackers that seem unusal, liquid droppers, eye droppers, bags of mushrooms, bags of marijuana type plants</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Chewed, Swallowed</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td rowspan="4" class="visual-highlight">
												<p>Specialized Testing Only* </td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
										</tr>
										<tr>
											<th>Sweat</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/hallucinogens" target="_blank">https://www.drugabuse.gov/drugs-abuse/hallucinogens</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/mesaline.jpg" width="174" height="130" alt="Mescaline"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Mushrooms</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Psilocybin/Psilocyn</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Shrooms</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Changes in what they see (colors, lights), unsteady as surfaces move or ripple</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Unusual liquids, powders, tablets, or capsules, paper squares with colorful designs, paper evenlopes, stickers, sugar cubes, soda crackers that seem unusal, liquid droppers, eye droppers, bags of mushrooms, bags of marijuana type plants</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Chewed, Smoked, Swallowed</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td rowspan="4" class="visual-highlight">
												<p>Specialized Testing Only* </td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
										</tr>
										<tr>
											<th>Sweat</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/hallucinogens" target="_blank">https://www.drugabuse.gov/drugs-abuse/hallucinogens</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/mushrooms.jpg" width="174" height="142" alt="Mushrooms"/>
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Club Drugs</a>
				<ul>
					<li>
						<a href="#">GHB</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Gamma Hydroxy Butyrate</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>GHB, G</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Reduced inhibitions, poor judgements, may be aggressive, confused, sleepy, slurred speech, weak, difficulty breathing, headache, mellowness, change in perception of color and sound, agitation, depression, difficulty learning, nausea, dilated pupils, involuntary muscle movements, amnesia, changes in blood pressure, heightened sense of touch, high energy, muscle cramps, nausea, chills, confusion, dry mouth, dilated pupils</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Blue tint to a liquid, tablets marked with a 1 or 2, imprinted with the &quot;Roche&quot; imprint, imprinted with popular logos such as Mercedes, Guccis, Teletubbies, or Golden Arches, needles, pipes, unidentifiable liquids, excessive medication from a veterinary clinic that is unexplainable</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Mixed into drinks, Injected</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">Lab testing         up to 24 hrs</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Up to 24 hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 30 days</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">Not Applicable</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/club-drugs" target="_blank">https://www.drugabuse.gov/drugs-abuse/club-drugs</a><br>
													<a href="https://www.nlm.nih.gov/medlineplus/clubdrugs.html" target="_blank">https://www.nlm.nih.gov/medlineplus/clubdrugs.html
													</a>
													<br>
													<a href="https://www.fbi.gov/scams-safety/clubdrugs" target="_blank">https://www.fbi.gov/scams-safety/clubdrugs</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/ghb.jpg" width="174" height="109" alt="GHB"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Ketamine</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Not Applicable</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Special K, K, KitKat, Vitamin K</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Reduced inhibitions, poor judgements, may be aggressive, confused, sleepy, slurred speech, weak, difficulty breathing, headache, mellowness, change in perception of color and sound, agitation, depression, difficulty learning, nausea, dilated pupils, involuntary muscle movements, amnesia, changes in blood pressure, heightened sense of touch, high energy, muscle cramps, nausea, chills, confusion, dry mouth, dilated pupils</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Blue tint to a liquid, tablets marked with a 1 or 2, imprinted with the &quot;Roche&quot; imprint, imprinted with popular logos such as Mercedes, Guccis, Teletubbies, or Golden Arches, needles, pipes, unidentifiable liquids, excessive medication from a veterinary clinic that is unexplainable</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Mixed into drinks, Injected, Smoked, Snorted, Pill </td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">2 to 10 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">1-10 days</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days (special request)</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">Not Applicable</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/club-drugs" target="_blank">https://www.drugabuse.gov/drugs-abuse/club-drugs</a>
													<br>
													<a href="https://www.nlm.nih.gov/medlineplus/clubdrugs.html" target="_blank">https://www.nlm.nih.gov/medlineplus/clubdrugs.html</a>
													<br>
													<a href="https://www.fbi.gov/scams-safety/clubdrugs" target="_blank">https://www.fbi.gov/scams-safety/clubdrugs</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/ketamine.jpg" width="174" height="117" alt="Ketamine"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">MDMA</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>3,4-Methylenedioxy - methamphetamine</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Ecstasy, Adam, Clarity, Ecstasy, Lover's Speed, Peace, STP, X, XTC, Molly</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Reduced inhibitions, poor judgements, may be aggressive, confused, sleepy, slurred speech, weak, difficulty breathing, headache, mellowness, change in perception of color and sound, agitation, depression, difficulty learning, nausea, dilated pupils, involuntary muscle movements, amnesia, changes in blood pressure, heightened sense of touch, high energy, muscle cramps, nausea, chills, confusion, dry mouth, dilated pupils</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Blue tint to a liquid, tablets marked with a 1 or 2, imprinted with the &quot;Roche&quot; imprint, imprinted with popular logos such as Mercedes, Guccis, Teletubbies, or Golden Arches, needles, pipes, unidentifiable liquids, excessive medication from a veterinary clinic that is unexplainable</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">1 to 3 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days (special request)</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">Not Applicable</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/club-drugs" target="_blank">https://www.drugabuse.gov/drugs-abuse/club-drugs</a>
													<br>
													<a href="https://www.nlm.nih.gov/medlineplus/clubdrugs.html" target="_blank">https://www.nlm.nih.gov/medlineplus/clubdrugs.html</a>
													<br>
													<a href="https://www.fbi.gov/scams-safety/clubdrugs" target="_blank">https://www.fbi.gov/scams-safety/clubdrugs</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/mdma.jpg" width="174" height="130" alt="MDMA"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Flunitrazepan</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Rohypnol</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Roofies</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Reduced inhibitions, poor judgements, may be aggressive, confused, sleepy, slurred speech, weak, difficulty breathing, headache, mellowness, change in perception of color and sound, agitation, depression, difficulty learning, nausea, dilated pupils, involuntary muscle movements, amnesia, changes in blood pressure, heightened sense of touch, high energy, muscle cramps, nausea, chills, confusion, dry mouth, dilated pupils</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Blue tint to a liquid, tablets marked with a 1 or 2, imprinted with the &quot;Roche&quot; imprint, imprinted with popular logos such as Mercedes, Guccis, Teletubbies, or Golden Arches, needles, pipes, unidentifiable liquids, excessive medication from a veterinary clinic that is unexplainable</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed, Injected</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">1 to 3 days</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Minutes to 48hrs</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Up to 90 days (special request, for regular use)</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">Not Applicable</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/club-drugs" target="_blank">https://www.drugabuse.gov/drugs-abuse/club-drugs</a>
													<br>
													<a href="https://www.nlm.nih.gov/medlineplus/clubdrugs.html" target="_blank">https://www.nlm.nih.gov/medlineplus/clubdrugs.html</a>
													<br>
													<a href="https://www.fbi.gov/scams-safety/clubdrugs" target="_blank">https://www.fbi.gov/scams-safety/clubdrugs</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/rohypnol1.jpg" width="174" height="120" alt="Flunitrazepan"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">YABA</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Not Applicable</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Crazy Medicine, Nazi Speed, Shabu</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Reduced inhibitions, poor judgements, may be aggressive, confused, sleepy, slurred speech, weak, difficulty breathing, headache, mellowness, change in perception of color and sound, agitation, depression, difficulty learning, nausea, dilated pupils, involuntary muscle movements, amnesia, changes in blood pressure, heightened sense of touch, high energy, muscle cramps, nausea, chills, confusion, dry mouth, dilated pupils</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Blue tint to a liquid, tablets marked with a 1 or 2, imprinted with the &quot;Roche&quot; imprint, imprinted with popular logos such as Mercedes, Guccis, Teletubbies, or Golden Arches, needles, pipes, unidentifiable liquids, excessive medication from a veterinary clinic that is unexplainable</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed, inhaled, snorted, injected</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">Unknown*</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Unknown*</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Unknown*</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">Not Applicable</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/club-drugs" target="_blank">https://www.drugabuse.gov/drugs-abuse/club-drugs</a>
													<br>
													<a href="https://www.nlm.nih.gov/medlineplus/clubdrugs.html" target="_blank">https://www.nlm.nih.gov/medlineplus/clubdrugs.html</a>
													<br>
													<a href="https://www.fbi.gov/scams-safety/clubdrugs" target="_blank">https://www.fbi.gov/scams-safety/clubdrugs</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/ya-ba.jpg" width="174" height="116" alt="Yaba"/>
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Inhalants</a>
				<ul>
					<li>
						<a href="#">Common Household Items</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Airplane Glue, Household Glue, Rubber Cement, Spray Paint, Hair Spray, Air Freshener, Fabric Protector, Spot Remover, Degreaser, Nail Polish Remover, Lighter Fluid, Aerosol Sprays, Gasoline, Paint Thinner</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Air Blast, Highball</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Paint on face, smell of solvents, drunken appearance, speech slurred, disoriented, nausea, no appetite, pupils widely dilated, headache, blindness</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Excessive amounts of empty household cleaners, aerosol sprays, etc, rags hidden in cars, offices, or bedrooms, chemicals on clothing, or furniture, paint stains, smell of chemicals </td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Inhaled or Sniffed</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">Not detectable*</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">Not detectable*</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Not detectable*</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">Not Applicable</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/inhalants" target="_blank">https://www.drugabuse.gov/publications/drugfacts/inhalants</a>
													<br>
													<a href="http://www.inhalants.org/about.htm" target="_blank">http://www.inhalants.org/about.htm</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/household.jpg" width="174" height="114" alt="Common Household Items"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Nitrates</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Cyclohexyl, Amyl Nitrate, Butyl Nitrate, Helium, Butane, Propane</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Poppers, Snappers</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Paint on face, smell of solvents, drunken appearance, speech slurred, disoriented, nausea, no appetite, pupils widely dilated, headache, blindness</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Excessive amounts of empty household cleaners, aerosol sprays, etc, rags hidden in cars, offices, or bedrooms, chemicals on clothing, or furniture, paint stains, smell of chemicals </td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Inhaled or Sniffed</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">Not detectable*</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">
												Not detectable*</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">Not detectable*</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">Not Applicable</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/inhalants" target="_blank">https://www.drugabuse.gov/publications/drugfacts/inhalants</a>
													<br>
													<a href="http://www.inhalants.org/about.htm" target="_blank">http://www.inhalants.org/about.htm</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/nitrates.jpg" width="174" height="174" alt="Nitrates"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Nitrous Oxide</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>N2O</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Whippets</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Paint on face, smell of solvents, drunken appearance, speech slurred, disoriented, nausea, no appetite, pupils widely dilated, headache, blindness</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Excessive amounts of empty household cleaners, aerosol sprays, etc, rags hidden in cars, offices, or bedrooms, chemicals on clothing, or furniture, paint stains, smell of chemicals </td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Inhaled </td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">
												Not detectable*</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">
												Not detectable*</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">
												Not detectable*</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">
												Not Applicable</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/inhalants" target="_blank">https://www.drugabuse.gov/publications/drugfacts/inhalants</a>
													<br>
													<a href="http://www.inhalants.org/about.htm" target="_blank">http://www.inhalants.org/about.htm</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/nitrous.jpg" width="174" height="86" alt="Nitrous Oxide"/>
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Others</a>
				<ul>
					<li>
						<a href="#">DXM</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Dextromethorphan</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Robotripping, Robo, Triple C, (found in some cough and cold meds)</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Levels of intoxication, mild is similar to drunkeness, second level includes slurred speech and hallucinations, third level can include altered states of consciousness, fourth level loss of all senses and intoxication similar to PCP</td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Excessive bottles of cold medicines, multiple trips to drug stores</td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td class="visual-highlight">
												Unknown*</td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
											<td class="visual-highlight">
												Unknown*</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
											<td class="visual-highlight">
												Unknown*</td>
										</tr>
										<tr>
											<th>Sweat</td>
											<td class="visual-highlight">
												Not Applicable</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/cough-cold-medicine-abuse" target="_blank">https://www.drugabuse.gov/publications/drugfacts/cough-cold-medicine-abuse</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/dsm.jpg" width="174" height="116" alt="DXM"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Bath Salts</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Synthetic Cathinone, Mephedrone, MDPV</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Ivory Wave, Bloom, Cloud Nine, Lunar Wave, Vanilla Sky, White Lightening, Scarface, Drone, Meph, Meow Meow</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Increased blood pressure, chest pains, paranoia, agitation, violence, increased body temperature, nausea, reduced need for food or sleep, suicidal ideas </td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>White powders or crystals packaged in small packets, labeled &quot;not for human consumption&quot;. Sold in various storefronts. </td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Swallowed, Inhaled, Snorted, Injected</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td rowspan="4" class="visual-highlight">
												<p>Specialized Testing Only* </td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
										</tr>
										<tr>
											<th>Sweat</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/publications/drugfacts/synthetic-cathinones-bath-salts" target="_blank">https://www.drugabuse.gov/publications/drugfacts/synthetic-cathinones-bath-salts</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/bath-salts.jpg" width="174" height="116" alt="Bath Salts"/>
								</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Anabolic Steroids</a>
						<ul>
							<li>
								<table class="energetic table--responsive">
									<tbody>
										<tr>
											<th>Medical Drug Names</th>
											<td>Anadrol, Oxandrin, Durabolin, Depo-testosterone, Equipoise</td>
										</tr>
										<tr>
											<th>Street Names</th>
											<td>Roids, Juice</td>
										</tr>
										<tr>
											<th>Observable Signs of Use for an Individual</th>
											<td>Aggression, balding, high blood pressure, mental health concerns, deepened voice tone, rapid muscle growth, facial or chest hair, acne, distended stomach, stretch marks </td>
										</tr>
										<tr>
											<th>Observable Signs of Use in a Household</th>
											<td>Prescriptions for various steroids, liquids injectable bottles, capsules </td>
										</tr>
										<tr>
											<th>Administered</th>
											<td>Injected, Swallowed, Applied to Skin</td>
										</tr>
										<tr>
											<th>Duration in Urine</td>
											<td rowspan="4" class="visual-highlight">
												<p>Specialized Testing Only* </td>
										</tr>
										<tr>
											<th>Oral Fluid</td>
										</tr>
										<tr>
											<th>Duration in Hair</td>
										</tr>
										<tr>
											<th>Sweat</td>
										</tr>
										<tr>
											<th>Resources for More Information</th>
											<td>
													<a href="https://www.drugabuse.gov/drugs-abuse/steroids-anabolic" target="_blank">https://www.drugabuse.gov/drugs-abuse/steroids-anabolic</a>
												</td>
										</tr>
									</tbody>
								</table>
								<p>
									<img src="images/drug-chart/anabolic-steroid.jpg" width="174" height="131" alt="Anabolic Steroids"/>
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</div>
<div class="wdn-band wdn-light-neutral-band">
<div class="wdn-inner-wrapper">
	<h2>Key</h2>
	<div class="wdn-grid-set">
		<div class="bp640-wdn-col-one-half visual-highlight">
			<p><em>* <strong>Specialized Drug Testing</strong> refers to the need for a broader panel test and should be discussed with your supervisor prior to approving. Please refer to the most current Drug Testing Protocol outline in Protection and Safety Procedures for specific drug testing policy and procedure. Drug testing information included in this website is specific to Redwood Toxicology Laboratory, the contracted provider across the State of Nebraska. It is the Child and Family Services Specialist's responsibility to follow policy and procedures as written.</em></p>
		</div>
		<div class="bp640-wdn-col-one-half">
			<p>Please refer to Memo 17-2016 for specific drug testing policy and procedure. Drug testing information included in this website is specific to the majority of contracted providers' across the State of Nebraska and may differ from what is provided in policy. It is the Child and Family Services Specialist's responsibility to follow policy and procedures as written.</p>
		</div>
	</div>
</div>
</div>
<div class="wdn-band">
<div class="wdn-inner-wrapper">
	<h2>Resources</h2>
	<ul>
		<li>
			Drug Detection Times. (n.d.). Retrieved July 27, 2015, from
			<a href="http://harmreduction.org//wp-content/uploads/2012/02/drug-detection-times.png" target="_blank">http://harmreduction.org//wp-content/uploads/2012/02/drug-detection-times.png</a>
			
		</li>
		<li>
			Drug Facts and Drug Detection Timetable. (n.d.). Retrieved July 17, 2017 from Department of Health and Human Services Child and Family Systems Policy and Procedure
		</li>
		<li>
			Commonly Abused Drugs Charts. (n.d.). Retrieved July 27, 2015, from
			<a href="http://www.drugabuse.gov/drugs-abuse/commonly-abused-drugs-charts-0" target="_blank">http://www.drugabuse.gov/drugs-abuse/commonly-abused-drugs-charts-0</a>
			
		</li>
		<li>
			Protecting Children in Families Affected by Substance Use Disorders. (n.d.). Retrieved July 27, 2015, from
			<a href="https://www.childwelfare.gov/pubs/usermanuals/substanceuse/" target="_blank">https://www.childwelfare.gov/pubs/usermanuals/substanceuse/</a>
			
		</li>
		<li>
			DrugFacts: Synthetic Cathinones (&quot;Bath Salts&quot;). (n.d.). Retrieved August 3, 2015, from
			<a href="http://www.drugabuse.gov/publications/drugfacts/synthetic-cathinones-bath-salts" target="_blank">http://www.drugabuse.gov/publications/drugfacts/synthetic-cathinones-bath-salts</a>
			
		</li>
		<li>
			Krokodil (Desomorphine) Drug: Effects, Abuse &amp; Warnings - Drugs.com. (n.d.). Retrieved August 3, 2015, from
			<a href="http://www.drugs.com/illicit/krokodil.html" target="_blank">http://www.drugs.com/illicit/krokodil.html</a>
			
		</li>
		<li>
			Drug Rehab Headquarters. (n.d.). Retrieved August 3, 2015, from
			<a href="http://www.drug-rehab-headquarters.com/addiction-information/" target="_blank">http://www.drug-rehab-headquarters.com/addiction-information/</a>
			
		</li>
		<li>
			Drug Rehabilitation &amp; Drug Education. (n.d.). Retrieved August 3, 2015, from
			<a href="http://www.narconon.org/" target="_blank">http://www.narconon.org/</a>
			
		</li>
		<li>
			National Center for Biotechnology Information. (n.d.). Retrieved August 5, 2015, from
			<a href="http://www.ncbi.nlm.nih.gov/" target="_blank">http://www.ncbi.nlm.nih.gov/</a>
			
		</li>
		<li>
			Drugs and Human Performance FACT SHEETS. (n.d.). Retrieved August 5, 2015, from
			<a href="http://www.nhtsa.gov/people/injury/research/job185drugs/" target="_blank">http://www.nhtsa.gov/people/injury/research/job185drugs/</a>
			
		</li>
		<li>
			Club Drugs. (n.d.). Retrieved August 10, 2015, from
			<a href="http://www.emedicinehealth.com/" target="_blank">http://www.emedicinehealth.com/</a>
			
		</li>
	</ul>
</div>
</div>