<div class="wdn-band wdn-promo-band">
  <img class="wdn-stretch" src="images/staff2.jpg" alt="">
  <div class="wdn-promo-container">
    <div class="wdn-promo-content">
      <span class="wdn-promo-text">Faculty and Staff</span>
    </div>
  </div>
</div>
<div class="wdn-band">
  <div class="wdn-inner-wrapper">
    <div class="wdn-grid-set">
      <div class="bp640-wdn-col-one-third">
        <h2>We are committed and dedicated in what we do.</h2>
      </div>
      <div class="bp640-wdn-col-two-thirds">
        <p>According to the Bureau of Labor Statistics, the median number of years a person works for an employer is just 4.2 years. We are proud to share that the average tenure with CCFL is more than this.</p>
        <p>There are now over 50 faculty, staff, graduate students, and undergraduate students working daily on a wide-variety of projects - locally, nationally, and internationally.</p>
      </div>
    </div>
  </div>
</div>
<div class="wdn-band">
  <div class="wdn-inner-wrapper wdn-inner-padding-no-top">
    <div class="infographic-gridset">
      <div class="infographic__wrapper">
        <div class="infographic">
          <span class="infographic-emp">500 years</span>
          <span class="infographic-normal">of combined experience at CCFL</span>
        </div>
        <div class="infographic">
          <span class="infographic-emp">22 employees</span>
          <span class="infographic-normal">have worked for CCFL for 10 years</span>
        </div>
        <div class="infographic">
          <span class="infographic-emp">8 employees</span>
          <span class="infographic-normal">have worked for CCFL for 20 years</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wdn-band wdn-light-neutral-band">
  <div class="wdn-inner-wrapper">
    <h2 class="wdn-center">View our Faculty and Staff</h2>
    <div class="wdn-grid-set">
      <div class="wdn-col button-icon-h__wrapper">
        <a href="faculty-and-staff/all" class="button-icon-h">
          <span>All Faculty and Staff</span>
        </a>
        <a href="faculty-and-staff/project-directors" class="button-icon-h">
          <span>Project Directors</span>
        </a>
        <a href="faculty-and-staff/graduate-assistants" class="button-icon-h">
          <span>Graduate Assistants</span>
        </a>
      </div>
    </div>
  </div>
</div>