<div id="follow-us" class="wdn-band wdn-light-neutral-band wdn-center">
    <div class="wdn-inner-wrapper follow-us__wrapper">
        <h2 class="wdn-sans-serif">Follow us</h2>
        <ul class="wdn-list-reset">
        	<li><a href="https://www.facebook.com/unl.ccfl"><span class="icon-logo-circle-facebook" aria-hidden="true"></span><span class="wdn-text-hidden">facebook icon</span><span class="wdn-text-hidden">CCFL on Facebook</span></a></li>
        	<li><a href="https://twitter.com/CCFL_UNL"><span class="icon-logo-circle-twitter-bird" aria-hidden="true"></span><span class="wdn-text-hidden">twitter icon</span><span class="wdn-text-hidden">CCFL on Twitter</span></a></li>
        </ul>
    </div>
</div>