<div class="wdn-band">
	<div class="wdn-inner-wrapper">
<p>Many of CCFL's projects include graduate research assistantships. Graduate students assist with research and service activities. Students often work with the faculty and project directors to present and publish the research. Students have completed Master's projects and Ph.D. dissertations at CCFL.</p>
<p><a href="student-opportunity-interest" class="wdn-button wdn-button-brand">Contact us for graduate opportunities</a></p>
</div>
</div>
<div class="wdn-band wdn-light-neutral-band">
	<div class="wdn-inner-wrapper">
		<h2>Volunteer opportunities</h2>
		<p>To volunteer, you must be a current University of Nebraska–Lincoln student (undergraduate or graduate/professional). Students can start volunteering with CCFL at any time of the year. As a volunteer, you will have the chance to learn, meet others and make a difference in the lives of those who work with children and families.  Volunteers have the opportunity to assist with a variety of research, service, and training projects.</p>
		<p><a href="student-opportunity-interest" class="wdn-button wdn-button-brand">Contact us for volunteer opportunities</a></p>
	</div>
</div>

