<div class="wdn-band">
  <div class="wdn-inner-wrapper wdn-inner-padding-no-top">
    <h2>Our Timeline - 30 years of Helping the Helpers</h2>
    <iframe src="https://h5p.org/h5p/embed/226072" allowfullscreen="allowfullscreen" width="1091" height="626" title="Timeline showing the history of CCFL"></iframe>
    <script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8" type="text/javascript"></script>
  </div>
</div>
<div class="wdn-band wdn-light-neutral-band">
  <div class="wdn-inner-wrapper">
    <h2>Our Growth and Support</h2>
    <p><img class="wdn-stretch" src="images/growth_support.png" alt="1987 3 people had 1 grant; 2017 66 people have 50 grants and contracts" /></p>
  </div>
</div>
<div class="wdn-band">
  <div class="wdn-inner-wrapper wdn-inner-padding-no-top">
    <div class="infographic-gridset">
      <div class="infographic__wrapper">
        <div class="infographic">
          <span class="infographic-emp">131</span>
          <span class="infographic-normal">partnerships with CCFL</span>
        </div>
        <div class="infographic">
          <span class="infographic-emp">78,621</span>
          <span class="infographic-normal">participants involved in research</span>
        </div>
        <div class="infographic">
          <span class="infographic-emp">14,053</span>
          <span class="infographic-normal">resources available online</span>
        </div>
      </div>
    </div>
  </div>
</div>