<div class="wdn-band wdn-light-neutral-band">
	<div class="wdn-inner-wrapper wdn-inner-padding-no-top">
		<div class="wdn-grid-set">
			<div class="bp640-wdn-col-two-thirds">
				<h2>Helping the helpers</h2>
				<p class="wdn-intro-p">We provide an interdisciplinary and collaborative approach to improve systems and outcomes for children and families.</p>
			</div>
		</div>
		<div class="wdn-grid-set">
			<div class="wdn-col button-icon-h__wrapper">
				<a href="about/our-services" class="button-icon-h">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-white" aria-labelledby="cogwheel">
						<title id="cogwheel">Cogwheel</title>
						<path d="M23.5 10h-2.855c-.2-.79-.454-1.667-.778-2.332l2.032-2.032a.5.5 0 0 0 0-.707L19.07 2.102a.499.499 0 0 0-.707 0L16.33 4.133c-.665-.324-1.541-.578-2.33-.777V.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v2.856c-.79.199-1.667.453-2.331.777L5.636 2.102a.499.499 0 0 0-.707 0L2.1 4.929a.5.5 0 0 0 0 .707l2.033 2.033c-.323.663-.578 1.54-.778 2.331H.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h2.855c.201.791.456 1.668.779 2.331L2.1 18.365a.5.5 0 0 0 0 .707L4.929 21.9c.188.188.52.188.707 0l2.033-2.033c.663.323 1.54.578 2.332.779V23.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-2.854c.79-.201 1.668-.456 2.331-.778l2.034 2.032a.5.5 0 0 0 .707 0l2.828-2.828a.5.5 0 0 0 0-.707l-2.032-2.033c.323-.663.578-1.54.778-2.331H23.5a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.501zM12 16c-2.206 0-4-1.795-4-4s1.794-4 4-4 4 1.795 4 4-1.794 4-4 4z"/></svg>
					<span>Services</span></a>
					<a href="our-work/projects" class="button-icon-h">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-white" aria-labelledby="projects">
						<title id="projects">Projects</title>
						<path d="M11.801 15.958a.496.496 0 0 0 .398 0l11.5-5a.5.5 0 0 0-.398-.917L12 14.955.699 10.042a.5.5 0 0 0-.658.259c-.326.748.198.631 11.76 5.657z"/><path d="M23.301 13.042L12 17.955.699 13.042a.5.5 0 0 0-.398.917l11.5 5a.496.496 0 0 0 .398 0l11.5-5a.5.5 0 0 0-.398-.917z"/><path d="M23.301 16.042L12 20.955.699 16.042a.5.5 0 0 0-.398.917l11.5 5a.496.496 0 0 0 .398 0l11.5-5a.5.5 0 0 0-.398-.917zM.301 7.958l11.5 5a.496.496 0 0 0 .398 0l11.5-5a.5.5 0 0 0 0-.917l-11.5-5a.5.5 0 0 0-.398 0l-11.5 5a.5.5 0 0 0 0 .917z"/></svg>
						<span>Projects</span>
					</a>
					<a href="faculty-and-staff" class="button-icon-h">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-white" aria-labelledby="idcard">
						<title id="idcard">ID Card</title>
						<path d="M24 3.5v17a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V19c0-.69-.811-1.25-1.5-1.25S16 18.31 16 19v1.5a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5V19c0-.69-.811-1.25-1.5-1.25S5 18.31 5 19v1.5a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-17A.5.5 0 0 1 .5 3h23a.5.5 0 0 1 .5.5zM13 8h4V7h-4v1zm-1.5 4.5a.496.496 0 0 0-.084-.277c-.043-.065-1.006-1.477-2.916-1.694v-.265c.376-.298 1-.986 1-2.263 0-.996 0-2.5-2.5-2.5S4.5 7.004 4.5 8c0 1.277.624 1.965 1 2.263v.265c-1.91.218-2.873 1.629-2.916 1.694a.502.502 0 0 0-.084.278v2a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2zm9.5.5h-8v1h8v-1zm0-2h-8v1h8v-1zm0-2h-8v1h8V9z"/></svg>
						<span>Faculty and Staff</span>
					</a>
					<a href="about/giving" class="button-icon-h">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-white" aria-labelledby="money">
						<title id="money">Giving money</title>
						<path d="M3.5 13h-3a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h3c.275 0 .5-.225.5-.5v-8a.5.5 0 0 0-.5-.5zM23.854 17.146c-1.174-1.173-2.187-1.5-3.512-1.12l-3.008.998C17.581 18.49 16.69 20 15 20h-5a.5.5 0 0 1 0-1h5c.891 0 1.375-.679 1.375-1.5 0-.558-.29-1.5-1.375-1.5h-3a.504.504 0 0 1-.354-.146C11.188 15.394 9.793 14 7.5 14h-2a.5.5 0 0 0-.5.5V20a.5.5 0 0 0 .342.474c1.56.521 3.281.964 4.261 1.321 1.928.701 3.007 1.08 3.969 1.08 1.946 0 3.387-1.545 10.152-4.927a.503.503 0 0 0 .13-.802zM17 7c1.93 0 3.5-1.57 3.5-3.5C20.5 1.569 18.93 0 17 0s-3.5 1.569-3.5 3.5C13.5 5.43 15.07 7 17 7zm-.5-4.5a.5.5 0 0 1 1 0v2a.5.5 0 0 1-1 0v-2zM12.5 14c1.93 0 3.5-1.57 3.5-3.5C16 8.569 14.43 7 12.5 7S9 8.569 9 10.5c0 1.93 1.57 3.5 3.5 3.5zM12 9.5a.5.5 0 0 1 1 0v2a.5.5 0 0 1-1 0v-2z"/></svg>
						<span>Giving</span>
					</a>
				</div>
			</div>
		</div>
	</div>