<div class="wdn-band">
	<div class="wdn-inner-wrapper wdn-inner-padding-no-top">
		<div class="wdn-grid-set">
			<div class="bp768-wdn-col-two-thirds">
				<p class="wdn-intro-p">The Center on Children, Families, and the Law provides a diverse array of technical assistance and consultation activities to human service agencies with the goal of achieving positive outcomes for children and families.</p>
				<p><a href="request-additional-information" class="wdn-button wdn-button-brand">Request additional information about our services</a></p>
			</div>
			<div class="bp768-wdn-col-one-third">
				<figure class="wdn-frame clear-top">
					<img src="images/68963272_xxl-min.jpg" alt="A multicultural happy family." />
				</figure>
			</div>
		</div>

	</div>
</div>
<div class="wdn-band wdn-light-neutral-band">
	<div class="wdn-inner-wrapper">
		<h2 class="wdn-center">Types of Services</h2>
		<div class="tile">
			<h3>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-text" aria-labelledby="account-group">
				<title id="account-group">Group of people</title>
				<path d="M5.5 9h-5a.5.5 0 0 0-.5.5v3c0 1.083.336 1.73 1 1.932V18.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-4.068c.663-.202.998-.849 1-1.932v-3a.5.5 0 0 0-.5-.5zM23.5 9h-5a.5.5 0 0 0-.5.5v3c0 1.083.336 1.73 1 1.932V18.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-4.068c.663-.202.999-.849 1-1.932v-3a.5.5 0 0 0-.5-.5zM15.5 9h-7a.5.5 0 0 0-.5.5v5c0 1.208.86 2.217 2 2.45v5.55a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-5.55c1.14-.232 2-1.242 2-2.45v-5a.5.5 0 0 0-.5-.5z"/><circle cx="3" cy="6" r="2"/><circle cx="21" cy="6" r="2"/><circle cx="12" cy="5" r="3"/>
			</svg>
			<span>Needs Assessment</span>
			</h3>
			<p>CCFL provides a wide range of needs assessments to courts, organizations and communities to assist them in determining priorities, making systems changes and improvements, and securing appropriate resources. Needs assessments may range from simple data collection to complex data collection, stakeholder interviews, scholarly research and application, and other methods.</p>
		</div>
		<div class="tile">
			<h3>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-text" aria-labelledby="lightbulb">
				<title id="lightbulb">Lightbulb</title>
				<path d="M11.5 2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-1 0v1a.5.5 0 0 0 .5.5zM18.218 3.075l-.707.707a.5.5 0 0 0 .708.707l.707-.707a.5.5 0 0 0-.708-.707zM21.5 10h-1a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zM18.218 16.511a.5.5 0 0 0-.707.707l.707.707a.498.498 0 0 0 .708 0 .5.5 0 0 0 0-.707l-.708-.707zM4.782 4.489a.5.5 0 1 0 .708-.706l-.708-.708a.5.5 0 0 0-.707.707l.707.707zM2.5 10h-1a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zM4.782 16.511l-.707.707a.5.5 0 0 0 .706.707l.707-.707a.5.5 0 0 0-.706-.707zM9 21.5a.5.5 0 0 0 .5.5H11v1.5a.5.5 0 0 0 1 0V22h1.5a.5.5 0 0 0 .5-.5V21H9v.5zM8 17.128V19.5a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 .5-.5v-2.372c-1.046.555-2.236.872-3.5.872s-2.454-.317-3.5-.872zM11.5 4A6.508 6.508 0 0 0 5 10.5c0 3.194 2.318 5.853 5.36 6.394L9.536 13H8.5c-.827 0-1.5-.673-1.5-1.5S7.673 10 8.5 10c.822 0 1.526.561 1.712 1.362l.135.638h2.307l.133-.629A1.752 1.752 0 0 1 14.5 10c.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5h-1.036l-.824 3.894c3.042-.541 5.36-3.2 5.36-6.394C18 6.916 15.084 4 11.5 4z"/><path d="M11.596 16.995L12.441 13h-1.883l.846 3.995c.032.001.064.005.096.005s.064-.004.096-.005zM15 11.5c0-.275-.225-.5-.5-.5a.753.753 0 0 0-.737.587l-.088.413h.825c.275 0 .5-.225.5-.5zM8.5 11c-.275 0-.5.225-.5.5s.225.5.5.5h.825l-.09-.422A.75.75 0 0 0 8.5 11z"/><g><path fill="none" d="M0 0h24v24H0z"/></g></svg>
				<span>Training</span>
				</h3>
				<p>CCFL provides training for professionals, specific to their responsibilities in the child welfare or juvenile justice system. Customized training courses are developed to meet the needs of each profession, and can range from covering basic, entry-level information to the development of advanced skills. CCFL’s training staff includes multidisciplinary experience in their respective fields prior to becoming trainers at CCFL.</p>
				<a href="node/154">Learn more about training services</a>
			</div>
			<div class="tile">
				<h3>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-text" aria-labelledby="pie-chart">
					<title id="pie-chart">Pie chart</title>
					<path d="M13.5 11h10c.275 0 .5-.225.5-.5C24 4.71 19.289 0 13.5 0a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5zM23.5 12h-10a.5.5 0 0 0-.354.854l7.071 7.071a.5.5 0 0 0 .707 0A10.433 10.433 0 0 0 24 12.5a.5.5 0 0 0-.5-.5z"/><path d="M11 13.292V3.5a.5.5 0 0 0-.5-.5C4.71 3 0 7.71 0 13.5S4.71 24 10.5 24a10.43 10.43 0 0 0 7.425-3.076.5.5 0 0 0 0-.707L11 13.292z"/><g><path fill="none" d="M0 0h24v24H0z"/></g></svg>
					<span>Research</span>
					</h3>
					<p>CCFL conducts basic and applied research on diverse issues related to children and families, such as child welfare, juvenile justice, early childhood, family decision making through the lifespan, and children’s involvement with the legal system. This research has focused on a wide range of substantive topics, methodologies, and analytic techniques, and has been funded by state and federal agencies, as well as private foundations.</p>
				</div>
				<div class="tile">
					<h3>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-text" aria-labelledby="scale">
						<title id="scale">Scale</title>
						<path d="M22.953 10.29l-3.278-7.057 1.567-.634a.499.499 0 1 0-.375-.926L13.334 4.72c-.311-.709-1.025-1.22-1.834-1.22-1.314 0-2.394 1.354-1.858 2.712l-7.883 3.19a.498.498 0 1 0 .375.926l.841-.34L.047 16.29A.492.492 0 0 0 0 16.5c0 2.28 1.72 4 4 4s4-1.72 4-4a.492.492 0 0 0-.047-.21l-3.252-7 5.556-2.248c.218.177.469.31.743.384V22H9a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-2V7.426a2.031 2.031 0 0 0 1.475-1.686l4.539-1.835-2.967 6.385a.492.492 0 0 0-.047.21c0 2.28 1.72 4 4 4s4-1.72 4-4a.492.492 0 0 0-.047-.21zM1.284 16L4 10.153 6.716 16H1.284zm15-6L19 4.153 21.716 10h-5.432z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
						<span>Legal/Policy Analysis</span>
						</h3>
						<p>CCFL is uniquely qualified to assist policy makers, agency directors, judges, and legal practitioners with analyzing and implementing systemic changes to policies and practices for vulnerable populations. With work that involves extensive research, evaluation, training, and technical assistance on substantive areas, CCFL can provide unbiased, evidence-based approaches to develop and implement effective policies and practices that will improve the lives of children and families.</p>
					</div>
					<div class="tile">
						<h3>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-text" aria-labelledby="networking">
							<title id="networking">Networking</title>
							<path d="M13.811 12.399a2.987 2.987 0 0 0 1.199-2.385c0-1.654-1.346-3-3-3s-3 1.346-3 3c0 .975.475 1.835 1.197 2.383a4.502 4.502 0 0 0-2.697 4.117c0 .276.224.5.5.485h8.02c.276 0 .5-.209.5-.485 0-1.675-1.019-3.368-2.719-4.115zM17.363 7.375l2.796-2.778c.391.253.853.403 1.352.403 1.379 0 2.5-1.122 2.5-2.5S22.89 0 21.511 0s-2.5 1.122-2.5 2.5c0 .519.159 1.001.431 1.401l-2.783 2.765a.5.5 0 0 0 .704.709zM21.511 1c.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5-1.5-.673-1.5-1.5.673-1.5 1.5-1.5zM21.521 19c-.519 0-1.001.159-1.401.431l-1.793-1.804a.5.5 0 0 0-.709.704l1.806 1.817a2.485 2.485 0 0 0-.402 1.351c0 1.378 1.121 2.5 2.5 2.5s2.5-1.122 2.5-2.5S22.9 19 21.521 19zm0 4c-.827 0-1.5-.673-1.5-1.5s.673-1.5 1.5-1.5 1.5.673 1.5 1.5-.672 1.5-1.5 1.5zM2.511 5c.499 0 .961-.15 1.351-.403l2.796 2.778a.5.5 0 0 0 .705-.709L4.58 3.901c.272-.4.431-.882.431-1.401 0-1.378-1.121-2.5-2.5-2.5s-2.5 1.122-2.5 2.5S1.132 5 2.511 5zm0-4c.827 0 1.5.673 1.5 1.5S3.338 4 2.511 4s-1.5-.673-1.5-1.5.673-1.5 1.5-1.5zM5.694 17.627l-1.793 1.804A2.483 2.483 0 0 0 2.5 19C1.121 19 0 20.122 0 21.5S1.121 24 2.5 24 5 22.878 5 21.5c0-.498-.15-.96-.402-1.351l1.806-1.817a.5.5 0 1 0-.71-.705zM2.5 23c-.827 0-1.5-.673-1.5-1.5S1.673 20 2.5 20s1.5.673 1.5 1.5S3.327 23 2.5 23zM16.511 12h2.551c.232 1.14 1.241 2 2.449 2 1.379 0 2.5-1.122 2.5-2.5S22.89 9 21.511 9c-1.208 0-2.217.86-2.449 2h-2.551a.5.5 0 0 0 0 1zm5-2c.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5-1.5-.673-1.5-1.5.673-1.5 1.5-1.5zM2.511 14c1.208 0 2.217-.86 2.449-2h2.551a.5.5 0 0 0 0-1H4.96a2.503 2.503 0 0 0-2.449-2c-1.379 0-2.5 1.122-2.5 2.5s1.121 2.5 2.5 2.5zm0-4c.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5-1.5-.673-1.5-1.5.673-1.5 1.5-1.5z"/><g><path fill="none" d="M0 0h24v24H0z"/></g></svg>
							<span>Community Services Planning</span>
							</h3>
							<p>CCFL works with communities and agencies to gain a contextually rich understanding of the agencies, the consumers they serve, and the community to assist in human service planning. Next, CCFL works with communities and agencies to design and implement data collection systems, data collection protocols, and analysis and reporting tools to enable communities and agencies to effectively build capacity for ongoing system and program improvement.</p>
						</div>
						<div class="tile">
							<h3>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-text" aria-labelledby="checklist">
								<title id="checklist">Checklist</title>
								<path d="M4.5 5.5A.5.5 0 0 1 4 5V.5a.5.5 0 0 1 1 0V5a.5.5 0 0 1-.5.5zM9.5 5.5A.5.5 0 0 1 9 5V.5a.5.5 0 0 1 1 0V5a.5.5 0 0 1-.5.5zM14.5 5.5A.5.5 0 0 1 14 5V.5a.5.5 0 0 1 1 0V5a.5.5 0 0 1-.5.5zM19.5 5.5A.5.5 0 0 1 19 5V.5a.5.5 0 0 1 1 0V5a.5.5 0 0 1-.5.5z"/><path d="M22.5 2H21v3a1.5 1.5 0 1 1-3 0V2h-2v3a1.5 1.5 0 1 1-3 0V2h-2v3a1.5 1.5 0 1 1-3 0V2H6v3a1.5 1.5 0 1 1-3 0V2H1.5a.5.5 0 0 0-.5.5v21a.5.5 0 0 0 .5.5h15a.495.495 0 0 0 .354-.147l5.998-5.999A.496.496 0 0 0 23 17.5v-15a.5.5 0 0 0-.5-.5zM9.854 14.354l-3 3a.5.5 0 0 1-.707 0l-1.5-1.5a.5.5 0 0 1 .707-.707L6.5 16.293l2.646-2.646a.5.5 0 0 1 .708.707zm0-5.5l-3 3a.5.5 0 0 1-.707 0l-1.5-1.5a.5.5 0 0 1 .707-.707L6.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708zM11.5 10H18a.5.5 0 0 1 0 1h-6.5a.5.5 0 0 1 0-1zm0 6a.5.5 0 0 1 0-1H18a.5.5 0 0 1 0 1h-6.5zm5.5 6.293V18h4.293L17 22.293z"/></svg>
								<span>Program Evaluation</span></h3>
								<p>Program evaluation is a systematic method for collecting and analyzing data to assess the design, implementation, improvement or outcomes of a program. Rather than determining need, it instead evaluates the program itself and assesses it based on the questions asked. There are a number of evaluation types, including content evaluation, process evaluation, and outcome evaluation. Data Management CCFL staff are proficient in the design, implementation, analysis, and reporting of a wide array of data, and specifically understand the challenges faced by human service providers when designing and managing their own data systems. To assist human service organizations of all sizes, CCFL provides expertise to agencies on modifying current data systems, training staff on system use, improving data collection methods, and helping extract and effectively interpret the collected data.</p>
							</div>
							<div class="tile">
							<h3>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-text" aria-labelledby="bar">
								<title id="bar">bar chart</title>
								<path d="M3.501 13.899l3.008-1.994-2.732-1.821a.5.5 0 0 0-.555 0l-2.72 1.814 2.999 2.001zM4 14.768v8.993l2.786-1.944a.501.501 0 0 0 .214-.41V12.78l-3 1.988zM3 14.768l-3-2.003v8.642a.5.5 0 0 0 .214.41L3 23.761v-8.993z"/><g><path d="M11.501 8.891l3.002-1.99-2.726-1.817a.5.5 0 0 0-.555 0l-2.714 1.81 2.993 1.997zM12 9.759V23.76l2.786-1.944a.498.498 0 0 0 .214-.409V7.771l-3 1.988zM11 9.759L8 7.755v13.651a.5.5 0 0 0 .214.41L11 23.761V9.759z"/></g><g><path d="M19.501 3.891l3.002-1.99L19.777.084a.5.5 0 0 0-.555 0l-2.714 1.81 2.993 1.997zM19 4.759l-3-2.003v18.651a.5.5 0 0 0 .214.41L19 23.761V4.759zM20 4.759V23.76l2.786-1.944a.498.498 0 0 0 .214-.409V2.77l-3 1.989z"/></g></svg>
								<span>Data Management</span></h3>
								<p>CCFL staff are proficient in the design, implementation, analysis, and reporting of a wide array of data, and specifically understand the challenges faced by human service providers when designing and managing their own data systems. To assist human service organizations of all sizes, CCFL provides expertise to agencies on modifying current data systems, training staff on system use, improving data collection methods, and helping extract and effectively interpret the collected data. </p>
							</div>
							<div class="tile">
								<h3>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-text" aria-labelledby="toolbox">
									<title id="toolbox">Toolbox</title>
									<path d="M22.5 7h-6.029c-.25-2.247-2.159-4-4.471-4S7.779 4.753 7.53 7H1.5a.5.5 0 0 0-.5.5V12h9v-1a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v1h9V7.5a.5.5 0 0 0-.5-.5zM8.54 7c.244-1.693 1.7-3 3.46-3s3.216 1.307 3.46 3H8.54zM14 15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-2H1v8.5a.5.5 0 0 0 .5.5h21a.5.5 0 0 0 .5-.5V13h-9v2z"/>
								</svg>
								<span>Resource Information</span></h3>
								<p>Finding and accessing useful resource information is critical for individuals and families in crisis or in need of services. CCFL has built the capacity to manage and maintain large databases of resource information collected by service providers and public agencies, and has developed methods for user-friendly access to that information through publicly-accessible internet sites.</p>
							</div>
							<div class="tile">
								<h3>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-text" aria-labelledby="mouse">
									<title id="mouse">Mouse</title>
									<path d="M23.5 1.5a.5.5 0 0 0-.5.5v6c0 2.569-1.555 3.739-3 3.739S17 10.569 17 8V5.5C17 2.011 14.278.107 11.361.107 8.697.107 6 1.788 6 5H3.5C1.57 5 0 6.57 0 8.5v9C0 21.084 2.916 24 6.5 24s6.5-2.916 6.5-6.5v-9C13 6.57 11.43 5 9.5 5H7c0-2.674 2.261-3.893 4.361-3.893C13.835 1.107 16 2.667 16 5.5V8c0 3.111 2.012 4.739 4 4.739S24 11.111 24 8V2a.5.5 0 0 0-.5-.5zM3.5 6H6v4H1V8.5C1 7.121 2.122 6 3.5 6zm6 0C10.878 6 12 7.121 12 8.5V10H7V6h2.5z"/>
								</svg>
								<span>Technical Assistance</span></h3>
								<p>To successfully implement new or updated programs or to solve specific issues or problems, it is often important for an organization to receive technical assistance. Technical assistance is the process of providing targeted support to an entity to help solve a need or problem. CCFL provides technical assistance in a number of systems, including child welfare, homelessness, workforce development, early childhood, and others.</p>
							</div>
							<div class="tile">
								<h3>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="inline-icon-text" aria-labelledby="consultation">
									<title id="consultation">Person providing consultation</title>
									<circle cx="6.5" cy="4" r="4"/><path d="M12 9H7.46l.558 6.689L6.5 17.207l-1.518-1.518L5.54 9H1a.5.5 0 0 0-.5.5c0 3.554 1.271 6.37 3.5 7.783V23.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-6.217c2.229-1.414 3.5-4.23 3.5-7.783A.5.5 0 0 0 12 9z"/><path d="M23.5 1H10.475A4.954 4.954 0 0 1 11.5 4c0 1.642-.806 3.088-2.031 4H12c.827 0 1.5.673 1.5 1.5 0 2.574-.646 4.811-1.806 6.5H23.5a.5.5 0 0 0 .5-.5v-14a.5.5 0 0 0-.5-.5zM22 13.5a.5.5 0 0 1-.5.5l-.01-.002-.01.002h-5.959a.5.5 0 0 1 0-1H17V9.5a.5.5 0 0 1 1 0V13h1V7.5a.5.5 0 0 1 1 0V13h1V4.5a.5.5 0 0 1 1 0v9z"/>
								</svg>
								<span>Consultation and Capacity Building</span></h3>
								<p>CCFL’s faculty and staff bring a unique and comprehensive array of educational backgrounds and skills to support agencies that serve the wellbeing of children, youth, and families. CCFL has provided consultation and capacity-building services to a variety of human services agencies in substantive areas such as training, team development and support, coaching, change management, systems integration, program evaluation, implementation science, and human resource management.</p>
							</div>
						</div>
					</div>