<div class="wdn-band wdn-promo-band"><img class="wdn-stretch" src="images/ourwork.png" alt="Jeff speaking in the community" />
  <div class="wdn-promo-container">
    <div class="wdn-promo-content"><span class="wdn-promo-text">Our Work</span></div>
  </div>
</div>
<div class="wdn-band wdn-text-band wdn-center">
  <div class="wdn-inner-wrapper wdn-inner-padding-sm">
    <p>For more than thirty years, the work done by the faculty and staff at the University of Nebraska, Lincoln, Center on Children, Families, and the Law (CCFL) has brought about significant positive changes to our local community, the state of Nebraska, and beyond. Use the links below to learn more about the services CCFL provides, the array of projects led by CCFL faculty and staff, the diversity of trainings offered, and selected publications produced by CCFL faculty and staff.</p>
  </div>
</div>
<div class="wdn-band">
  <div class="wdn-inner-wrapper">
    <div class="wdn-grid-set">
      <div class="wdn-col button-icon-h__wrapper"><a class="button-icon-h" href="our-work/services">Services</a> <a class="button-icon-h" href="our-work/projects">Projects</a> <a class="button-icon-h" href="our-work/training">Training</a> <a class="button-icon-h" href="our-work/selected-publications">Selected Publications</a></div>
    </div>
  </div>
</div>