<p>Human service agencies use program evaluation as a strategic tool to gauge program effectiveness and guide program improvement. Outcomes for children and families can be enhanced through the use of ongoing and recursive evaluation based on process and outcome data. CCFL provides independent, third-party program evaluations for a wide variety of community and human service agencies and programs. The primary focus of the Center's evaluation work has been with programs that are focused on child and youth issues and on the families and communities in which children and youth reside. The program evaluations conducted by CCFL have been diverse in size and scope, ranging from local community programs to national programs focusing on a wide range of substantive topic areas, including teen pregnancy prevention programs and programs designed to reduce utility costs for low-income families.</p>
<!-- Accordion -->
<div class="accordion">
	<button aria-expanded="false" class="accordion-trigger inactive">Early Childhood Projects</button>
	<div class="accordion-panel">
		<p>The Center on Children, Families and the Law is currently conducting or has completed a number of research and evaluation projects in the area of early childhood. Projects focus on research that assists programs and states in continuous improvement. These include:</p>
		<ul>
			<li><a href="research-and-engagement/projects/midwest-child-care-research-consortium">The Midwest Child Care Research Consortium</a></li>
			<li>Parenting Counts Evaluation</li>
			<li>Quality Intervention for Early Care and Education (QUINCE)</li>
		</ul>
		<p>Previous Projects:</p>
		<ul>
			<li><a href="research-and-engagement/projects/midwest-child-care-research-consortium">The Midwest Child Care Research Consortium</a></li>
			<li><a href="research-and-engagement/projects/early-head-start-practitioners-study">The National Early Head Start Father Involvement Practitioners Study</a></li>
		</ul>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">Court Appointed Special Advocate Program</button>
	<div class="accordion-panel">
		<p>Weisz, V &amp; Thai, N. (under revision).&nbsp;The Court-Appointed Special Advocate (CASA) Program: Bringing information to child abuse and neglect cases. Child Maltreatment.</p>
		<p><small>The Court-Appointed Special Advocate (CASA) Program has been rapidly expanding in its twenty five year history although there has been little sound empirical data assessing its value. The present study compared 21 judicial hearings regarding children who had a CASA with 20 hearings for children who were on a waiting list for a CASA. Judges, CASAs, and attorney guardians ad litem provided the data for the study. The findings indicated that CASA involvement improves the breadth and quality of information provided to the courts. Unfortunately, CASA involvement also appears to decrease the involvement of the guardian ad litem.</small></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">Teen court evaluation with a therapeutic jurisprudential perspective</button>
	<div class="accordion-panel">
		<p>Weisz, V., Lott, R., &amp; Thai, N. (2002).&nbsp;A Teen court evaluation with a therapeutic jurisprudence perspective. Behavioral Sciences and the Law, 20, 381-392.</p>
		<p><small>Teen court defendants were assessed on several attitudinal measures when they entered and when they completed their teen court program. Teen court volunteers and high school civics students in a control group were assessed on the same measures at two points in time that approximated the length of teen court involvement for defendants. Re-offense rates for defendants were assessed. In addition, defendants and their parents completed satisfaction surveys. The teen court experience did not significantly impact the attitudes and beliefs of either the defendants or the volunteers. The re-offense rate for defendants was 13% which is similar to other teen court programs and less than the re-offense rate for the general diversion program in the county that was the target of the study. Since this teen court selected youth with the least serious delinquency activity (primarily shoplifting) conclusions about the program's effectiveness in reducing further offending cannot be made. Defendants and their parents reported high levels of satisfaction with their teen court experience but defendants became more alienated from institutional authority. This study did not support the teen court experience as having a generally beneficial impact on defendants or volunteers that would be expected from a therapeutic jurisprudence perspective.</small></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">Georgia Abstinence Education Initiative Evaluation</button>
	<div class="accordion-panel">
		<p>In 1996 Congress provided funding to states, as part of the welfare reform legislation, to support sexual abstinence education programs. The Center contracted with the State of Georgia to conduct the evaluation of their state initiative. Outcome and process monitoring data have been collected from an array of abstinence education programs, beginning in 1998. These programs will be followed through FY2003, with reports released at that time.</p>
		<p>The evaluation director, Brian Wilcox, is also serving on the technical advisory board to the National Abstinence Education Evaluation being conducted by Mathematica Policy Research, Inc.</p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">Lincoln Action Program</button>
	<div class="accordion-panel">
		<p>CCFL is presently involved in a multi-year evaluation of the Lincoln Action Program Early Head Start, a program designed to serve high-risk, low-income pregnant women, infants and toddlers up to 36 months through home- and center-based child development services. Under the direction of Helen Raikes, Ph.D., the evaluation involves assessing child cognitive development at 24 and 36 months, measuring maternal mental health characteristics such as parenting stress and depression, assessing the quality of child care received by Early Head Start children, and tracking and evaluating internal program changes. Recent research activity includes work on the role of family risk and depression in program engagement, determinants of parenting stress, and the quality of mother-child relationships among Early Head Start families.</p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">Operation Job Success</button>
	<div class="accordion-panel">
		<p>Evaluation of the Lincoln Action Program's Operation Job Success Grant. Job Success is a Job Opportunities for Low Income Individuals project designed to increase participants' economic self-sufficiency through the creation of micro enterprise ventures. Funding for the project and evaluation is the through the U.S. Department of Health and Human Services, Office of Community Services.</p>
	</div>
</div>