<p>The following are selected publications published by CCFL faculty and staff. Additional publications can be found on our faculty and staff pages, as well as our project pages.</p>
<!-- Accordion -->
<div class="accordion">
	<button aria-expanded="false" class="accordion-trigger inactive">Nebraska Revised Statutes: Selected Provisions Pertaining to Child Welfare, Juvenile Justice, and Vulnerable Adults</button>
	<div class="accordion-panel">
		<p>Also known as the "Red Book," this publication is compiled every two years as a reference guide for lawyers, judges, social service workers, and other professionals who work in the juvenile system in Nebraska.</p>
		<p><a href="docs/Publications/STAT16_FINAL.pdf" target="_blank">Download Nebraska Revised Statutes: Selected Provisions Pertaining to Child Welfare, Juvenile Justice, and Vulnerable Adults</a></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">Guide for Parents/Foster Parents</button>
	<div class="accordion-panel">
		<p>These guides are overviews of the Nebraska Juvenile Court Child Protection Process.</p>
		<p><a href="docs/Publications/FosterParentsAndRelativeCaregiversGuide.pdf">Download Guide for Parents/Foster Parents</a></p>
	</div>

	<!-- <button aria-expanded="false" class="accordion-trigger inactive">The Nebraska Juvenile Law Digest</button>
	<div class="accordion-panel">
		<p>The Nebraska Juvenile Law Digest provides a survey of Nebraska case law pertaining to child welfare and juvenile justice issues. The feature articles in the Digest are on new developments and programs in Nebraska. The primary purpose of the Digest is to keep lawyers, judges, social service workers, and other professionals abreast of new Nebraska case law by providing a quick reference to recent Nebraska Supreme Court and Court of Appeals decisions. Selected Nebraska cases have been abridged and summarized for use as a resource, but the actual text of a case should be examined for the detailed facts and language prior to citation. The Nebraska Juvenile Law Digest is published annually by the University of Nebraska Center on Children, Families, and the Law and is also sponsored by Nebraska Continuing Legal Education and the Nebraska Permanency Planning Task Force.</p>
	</div> -->
</div>