<p>CCFL faculty are actively involved in a wide variety of research activities. Funding from federal and state agencies and private foundations supports policy planning studies, policy impact investigations, program evaluations, needs assessments, secondary analyses of data, social indicator studies, and basic theoretical research. Examples of CCFL's Basic, Applied and Policy Research:</p>
<!-- Accordion -->
<div class="accordion">
	<button aria-expanded="false" class="accordion-trigger inactive">The Midwest Child Care Research Consortium</button>
	<div class="accordion-panel">
		<p><a href="research-and-engagement/projects/midwest-child-care-research-consortium">Learn more about the Midwest Child Care Research Consortium</a></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">Teen Offenders and Work: A view from the bench</button>
	<div class="accordion-panel">
		<p>Williams, A. L., Conner, J., &amp; Weisz, V. (2001, March).&nbsp;Teen offenders and work: A view from the bench. Poster presented at the biennial meeting of the American Psychology and Law Society, Austin, Texas.</p>
		<p><small>A national survey of juvenile judges explored judicial attitudes and practice regarding employment for juvenile offenders. Anecdotal evidence suggests that many juvenile judges view employment as an important part of a youth offender's rehabilitative plan. Research has shown that although employment for adolescents can have many benefits, employment may not always have these positive effects for youth offenders. Because youth offenders are often employed in work environments filled with other youth with delinquent propensities, this environment can increase delinquent behavior on the job, which in turn can spill over into the youth's life outside of work.</small></p>
		<p><small>This study assessed what judges self report that they do regarding employment for offenders. It also assessed judges' beliefs about the value of work for offenders and whether there are factors that should be considered in recommending or ordering employment. For example, how often do judges recommend that a youth seek employment? Do they follow up to see what kind of employment the youth sought or the youth's performance on the job? What do judges see as the connection between employment and juvenile delinquency?</small></p>
		<p><small>Results showed that judges sometimes do recommend or order that youths in the juvenile justice system seek employment. However, there is no judicial consensus with regard to how the youth will be affected by employment, nor is there consensus about which youth may be more or less likely to be positively affected by work. Given the lack of research on the topic, future research needs to address which work environments are more likely to have a positive impact on youth in the juvenile justice system and which environments are more likely to have a negative effect. Future research should also address the various attributes of a youth offender that make it more or less likely that employment will be helpful to the youth.</small></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">The influence of early screening information on juvenile justice detention decisions</button>
	<div class="accordion-panel">
		<p>Williams, A. L. &amp; Weisz, V. (2001, March).&nbsp;The influence of early screening information on juvenile justice detention decisions. Poster presented at the biennial meeting of the American Psychology and Law Society, Austin, Texas.</p>
		<p><small>Juvenile judges were asked to make detention decisions based on hypothetical case descriptions of juvenile offenders with mental health and substance abuse screening information varied experimentally. There has recently been a movement toward the early detection of mental health and substance abuse problems of youth who enter the juvenile justice system. Screening instruments such as the MAYSI (Massachusetts Youth Screening Instrument) have been developed as a fairly simple and inexpensive way to identify mental health or substance abuse problems these youth may have, with the purpose of more quickly making further evaluation and treatment available to troubled youth. However, if a youth is identified as having a problem, this may affect the juvenile court judge's decision regarding the youth's placement. A judge may be more likely to place a youth who has a substance abuse or mental health problem in a more restrictive environment. Thus, the present study examined whether judicial decision-making regarding detention was influenced by screening information.</small></p>
		<p><small>Concerns that mental health and substance abuse screening information would result in more detentions were not supported by the data. There were no differences between the scenarios where youth were not screened and those where they were screened and some problems were indicated. There may, in fact, be a slight reduction in detentions for youth who are screened and no problems are found. More work in needed in this area to further explore this question.</small></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">Parental compliance: Its role in Termination of Parental Rights cases</button>
	<div class="accordion-panel">
		<p>Brank, E.M., Williams, A. L, Weisz, V., &amp;. Ray, R.E. (2001)&nbsp;Parental compliance: Its role in Termination of Parental Rights cases. Nebraska Law Review, 80, 335-353.</p>>
		<p><small>Attorney and child protection worker decision-making about a hypothetical Termination of Parental Rights(TPR) case was studied. Fifty-seven attorneys and 91 child protection workers completed surveys. There were no differences between attorneys and child protection workers in their decisions. The study was designed to investigate two main issues. The first was to determine whether court plan compliance is used as a proxy for actual parental improvement even when court plans do not adequately address the presenting parental problems. Second, the researchers explored whether the prognosis for the parent's problem influenced decisions to seek TPR.</small></p>
		<p><small>The results indicated that attorneys and child protection workers put a great deal of emphasis on court plan compliance in decisions to recommend a TPR, despite the prognosis of the parent or the relevance of the court plan. Participants were more likely to recommend TPR when the mother was non-compliant with the court plan as compared to when she was described as compliant. Participants' reliance on compliance was not influenced by whether the court plan was described as on target or overly broad. The prognosis for the parent's particular problem did not relate to decisions to recommend TPR. The authors conclude that while parental compliance is a relevant factor in the TPR determination, there may be a problem when it becomes a proxy for actual parental improvement. This situation becomes especially problematic when a parent's court plan is excessively rigid, superfluous, or not specific to the family's situation.</small></p>
	</div>
</div>