<p>Click to expand each</p>
<!-- Accordion -->
<div class="accordion">
	<button aria-expanded="false" class="accordion-trigger inactive">11-001&mdash;DAILYCARE DECISIONS IN OUT-OF-HOME CARE PLACEMENTS</button>
	<div class="accordion-panel">
		<p><a href="docs/discipline-agreement.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">Discipline Policy Agreement </a></p>
		<p><a href="docs/Protection_and_Safety_Procedure_28-2015.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">Reasonable and Prudent Parent Standard</a></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">11-002.01D&mdash;DEATH OR IMMINENT  DEATH OF A WARD</button>
	<div class="accordion-panel">
		<p><a href="http://dhhs.ne.gov/children_family_services/Documents/AM6-2014.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">AM: #6-2014: Critical Incident Reporting</a></p>
		<p><a href="http://public-dhhs.ne.gov/Forms/DisplayPDF.aspx?item=3007" target="_blank"><img src="imgs/icon-web-form.png" alt="Form" width="50" height="61" align="middle">AM:  #6-2014: Critical Incident Reporting </a></p>
		<p><a href="http://dhhs.ne.gov/children_family_services/Documents/PSP%2006-2015.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">AM:  #6-2015: CAPTA Reporting of Child Deaths and Near Deaths</a></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">11-002.01E&mdash;DISCIPLINE OF CHILDREN IN OUT-OF-HOME PLACEMENT</button>
	<div class="accordion-panel">
		<p><a href="docs/discipline-agreement.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">Discipline Policy Agreement</a></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">11-002.01R&mdash;RELEASE OF PHOTOGRAPHS AND IDENTIFYING INFORMATION</button>
	<div class="accordion-panel">
		<p><a href="http://dhhs.ne.gov/children_family_services/Documents/PSP 5-2016.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">AM:  #5-2016: The Use of Photographs from Intake to Case Closure</a></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">11-002.01V&mdash;RUNAWAYS</button>
	<div class="accordion-panel">
		<p><a href="docs/Protective_Service_Alert.pdf" target="_blank"><img src="imgs/icon-web-form.png" alt="Form" width="50" height="61" align="middle">Protective Service Alert</a></p>
		<p><a href="http://dhhs.ne.gov/children_family_services/Documents/PSP 12-2016.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Form" width="50" height="61" align="middle">AM: #12-2016: Youth Who Cannot be Located</a></p>
		<p><a href="docs/AM232012_Missing_Child_and_Family_Alerts.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Form" width="50" height="61" align="middle">Missing Child/Family Alerts</a></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">11-002.01T&mdash;TRAVEL</button>
	<div class="accordion-panel">
		<p><a href="docs/travel-letter.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">Sample Travel Letter</a></p>
	</div>

	<button aria-expanded="false" class="accordion-trigger inactive">11-002.03C&mdash;CRIMINAL ACTIVITY BY CHILDREN WHO ARE WARDS</button>
	<div class="accordion-panel">
		<p><a href="http://dhhs.ne.gov/children_family_services/Documents/14-2015.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">AM: #14-2015: Interview of a State Ward by Law  Enforcement</a></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">11-002.04A&mdash;ABORTION</button>
	<div class="accordion-panel">
		<p><a href="http://dhhs.ne.gov/children_family_services/Documents/AM%201-2015.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">AM: #1-2015: State Ward Pregnancy</a></p>
		<p><a href="docs/Abortion-Statute.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">N.R.S.  71-6901-03</a></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">11-002.04I&mdash;WITHHOLDING OR WITHDRAWAL OF LIFE SUPPORT</button>
	<div class="accordion-panel">
		<p><a href="http://dhhs.ne.gov/children_family_services/Documents/13-2015.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">AM:  #13-2015: Life Sustaining Measures</a></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">11-002.04J&mdash;PARENTAL OBJECTIONS TO MEDICAL CARE AND TREATMENT</button>
	<div class="accordion-panel">
		<p><a href="http://dhhs.ne.gov/children_family_services/Documents/GrievanceForm.pdf" target="_blank"><img src="imgs/icon-web-form.png" alt="Form" width="50" height="61" align="middle">AM: #10-2014: Parent Grievance and Complaint Procedures</a></p>
	</div>
	<button aria-expanded="false" class="accordion-trigger inactive">11-002.01T&mdash;TRAVEL</button>
	<div class="accordion-panel">
		<p><a href="docs/travel-letter.pdf" target="_blank"><img src="imgs/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">Sample Travel Letter</a></p>
	</div>
</div>