<p>Decisions regarding a child who is a ward residing  with the parent should be made by the parent. The worker will intervene  when a parental  decision regarding a child who is a ward is likely to harm the family or child.</p>
<p>When a  child is in out-of-home placement, the worker will involve at least the parent, foster parent and child in decision-making. Decisions are made in keeping with the best interest of the child, safety, case plan and the permanency goal.</p>
<p>When parental  rights have been terminated or  relinquished or the parent's  whereabouts are unknown, or the parent chooses  not to be involved,  the Department is responsible for all decision-making based on the best interest of the child, safety, the case plan and the permanency goal.</p>
<p><a href="docs/Decisions_Daily_Care_Sensitive_Issues_Ladder_080915.pdf" target="_blank">Decision-Making Ladder</a></p>
<!-- Tabs -->
<ul class="wdn_tabs">
	<li><a href="#tabs-1">11-001<br>DAILY CARE DECISIONS</a></li>
	<li><a href="#tabs-2">11-002.01<br>GENERAL ISSUES</a></li>
	<li><a href="#tabs-3">11-002.02<br>EDUCATIONAL ISSUES</a></li>
	<li><a href="#tabs-4">11-002.03<br>LEGAL  ISSUES</a></li>
	<li><a href="#tabs-5">11-002.04<br>MEDICAL  ISSUES</a></li>
</ul>
<!-- Tabs content -->
<div class="wdn_tabs_content">
	<div id="tabs-1">
		<div class="accordion">
			<button aria-expanded="false" class="accordion-trigger inactive">11-001&mdash;DAILYCARE DECISIONS IN OUT-OF-HOME CARE PLACEMENTS</button>
			<div class="accordion-panel">
				<p>Foster care providers or residential staff will make decisions involved with the daily care of the child such as:</p>
				<ul>
					<li>personal hygiene,</li>
					<li>discipline (in accordance with Department policy), and <br><a href="docs/discipline-agreement.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;Discipline Policy Agreement </a></li>
					<li>family routines<br><a href="docs/Protection_and_Safety_Procedure_28-2015.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;Reasonable and Prudent Parent Standard</a></li>
				</ul>
				<p class="zenbox"><small>NOTE: Daily care decisions are always made in accordance with Department policies and guidelines and licensing requirements. Special conditions about daily care will be determined by the worker.</small></p>
				<p>Certain decisions regarding care of children have potential implications to the cultural practices and religious beliefs of a family. To avoid violating a child and family's culture and religious beliefs, the Department will attempt to involve the parent in decisions about care of children. Routine care decisions having particular potential for cultural and religious implications are:
				</p>
				<ul>
					<li>haircutting and hair coloring,</li>
					<li>body piercing,</li>
					<li>tattoos,</li>
					<li>clothing</li>
					<li>dating,</li>
					<li>driver's license,</li>
					<li>cultural practices,</li>
					<li>religious or spiritual practices,</li>
					<li>photographs, and</li>
					<li>social and school activities.</li>
				</ul>
				<p>Decisions will be made with respect for the cultural and religious beliefs of the child and family. The worker may consider the need for input from the guardian ad litem.</p>
			</div>
		</div>
	</div>
	<div id="tabs-2">
		<div class="accordion">
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01A&mdash;ALCOHOL  USAGE</button>
			<div class="accordion-panel">
				<p>Permission for children  to consume alcohol  will be given only if it is part of a formal,  generally accepted religious ceremony.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01B&mdash;CAR OR MOTORCYCLE PURCHASE</button>
			<div class="accordion-panel">
				<p>No Department employee will sign permission for purchase or use of a motorcycle for a ward or co- sign for the purchase of a car for a ward.</p>
				<p>The worker, with parental consent and consent of the care giver, may approve the purchase of a car if the ward:</p>
				<ul>
					<li>Has a valid driver's license;</li>
					<li>Demonstrates maturity to handle the responsibility of motor vehicle ownership;</li>
					<li>Demonstrates a commitment  to obey relevant laws and regulations;</li>
					<li>Has enough money to purchase license and insurance and maintain a car; and</li>
					<li>Has proof of insurance and maintains insurance.</li>
				</ul>
				<p>A ward's guardianship account may be used for a car purchase only if it is required for school or employment.</p>
				<p class="zenbox"><small>NOTE: A ward's use of his/her vehicle may be restricted according to guidelines established by parent,  worker and caregiver. A juvenile offender's use of his/her vehicle may be restricted through the Conditions  of Liberty agreement.</small></p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01C&mdash;WARDS WHO HAVE CHILDREN</button>
			<div class="accordion-panel">
				<p>The Department has no authority over the child of a Department ward unless a court has taken jurisdiction over the ward's child and placed custody with the  Department. The Department will offer education, guidance and support to the ward in making parenting decisions.</p>
				<p>If a ward has a child living with her/him in a foster home, group home, or child-caring institution, the child of the ward may receive a foster care payment. If foster care payment is arranged, the child is then not eligible for Temporary Aid to  Needy Families (TANF). The foster care payment can be paid directly to  the  provider or  to the ward. Payment  will be made to the ward unless s/he has shown s/he is not able to handle his/her money. If paid to the ward, the ward then is responsible to pay the placement provider for the child's living expenses. The foster care payment is the base rate of the Foster Care Payment Determination according to the child's age.</p>
				<p class="zenbox"><small>Note: Effective  December 1, 1992 through June 30, 1995, the unborn  child of a ward is eligible for a foster  care payment beginning with the first day of the mother's  third trimester of pregnancy.</small></p>
				<p>A child of a ward will not be eligible for a foster care grant if the ward:</p>
				<ul>
					<li>Loses his/her eligibility for a foster care grant,</li>
					<li>Is living independently with her/his child, or</li>
					<li>Is separated from his/her child.</li>
				</ul>
				<p>The worker will refer the ward to the income maintenance worker to determine if the ward's child is eligible for other programs through the Department.</p>
				<p>If the ward who is a parent is placed at a YRTC, the ward needs to make appropriate arrangements for his/her child. If s/he is unable to do so, the county attorney or law enforcement will be contacted for possible action.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01D&mdash;DEATH OR IMMINENT  DEATH OF A WARD</button>
			<div class="accordion-panel">
				<p>In the event of imminent or actual death of a ward, the worker will notify the following:</p>
				<ul>
					<li>The parent(s), when parental rights are intact;</li>
					<li>The court and all involved  attorneys; and</li>
					<li>The supervisory staff,  who will notify the Director.</li>
				</ul>
				<p><a href="http://dhhs.ne.gov/children_family_services/Documents/AM6-2014.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;AM: #6-2014: Critical Incident Reporting</a></p>
				<p><a href="http://public-dhhs.ne.gov/Forms/DisplayPDF.aspx?item=3007" target="_blank"><img src="images/sensitive-issues/icon-web-form.png" alt="Form" width="50" height="61" align="middle">&nbsp;AM:  #6-2014: Critical Incident Reporting</a></p>
				<p><a href="http://dhhs.ne.gov/children_family_services/Documents/PSP%2006-2015.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;AM:  #6-2015: CAPTA Reporting of Child Deaths and Near Deaths</a></p>
				<p><a href="docs/AM-32-2015.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;AM:  #32-2015: Child Fatality and Near Fatality</a></p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01E&mdash;DISCIPLINE OF CHILDREN IN OUT-OF-HOME PLACEMENT</button>
			<div class="accordion-panel">
				<p>The worker will inform out-of-home providers that the following must never be used for discipline of children:</p>
				<ul>
					<li>Denial of necessities;</li>
					<li>Chemical or mechanical restraints;</li>
					<li>Derogatory remarks, abusive profane language;</li>
					<li>Yelling, screaming or threats of physical punishment;</li>
					<li>Physical punishment of any kind-spanking, slapping, pinching, shaking, biting, etc;</li>
					<li>Striking with inanimate objects; and</li>
					<li>Rough handling.</li>
				</ul>
				<p>Any violation of this policy will be reported to the local licensing staff and to the local child protective service staff immediately.</p>
				<p>For children at a YRTC, physical, mechanical or chemical restraints or lock-up may be used by designated staff when deemed appropriate under YRTC policies.</p>
				<p><a href="docs/discipline-agreement.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;Discipline Policy Agreement</a></p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01F&mdash;DRIVER'S LICENSE</button>
			<div class="accordion-panel">
				<p>The worker, with consent of the parent and caregiver, may allow the child to obtain a license or permit. Driving is a privilege  earned through showing responsibility.</p>
				<p>The ward must complete  a driver's education  course before taking the driver's examination. If a driver's education course is unavailable, this requirement may be waived.</p>
				<p>A condition of parole for children committed  to HHS-OJS is that the child not operate or purchase any motor vehicle without written  permission of the worker. If the child owns a vehicle before being on parole, the child cannot operate it without permission of the worker.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01G&mdash;EMPLOYMENT</button>
			<div class="accordion-panel">
				<p>The worker may give approval for a ward to be employed. The following factors will be taken into consideration:
				</p>
				<ol>
					<li>The ward's desire to be employed;</li>
					<li>Employment is part of the overall plan for the child;</li>
					<li>The care providers  and parent support the decision; and</li>
					<li>Child labor laws are not violated.</li>
				</ol>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01H&mdash;FIREARMS AND OTHER LETHAL WEAPONS AND HUNTING</button>
			<div class="accordion-panel">
				<p>The worker will not permit children  to maintain in their possession any type of firearm, rifle, shotgun, BB gun or any lethal weapon. Nebraska law states that it is &quot;unlawful for any person under the age of 18 years to possess a pistol, revolver  or any other form of short-barreled firearm.&quot; Neb. Rev. Stat. 28-1204(1). </p>
				<p>A ward may be permitted  to hunt within Nebraska, only when meeting the following  conditions:</p>
				<ul>
					<li>Successfully completed an approved hunter's  safety course and is 16 years of age or  older;</li>
					<li>Has approval  of the parent(s), worker and care giver(s);</li>
					<li>Has obtained a hunting permit; and</li>
					<li>Is properly supervised by the parent(s)  or foster parent(s).</li>
				</ul>
				<p>For juvenile offenders  who obtain permission, this must be reflected in the Conditions of Liberty agreement.</p>
				<p>The worker will evaluate the following in determining the appropriateness of the ward's  taking a hunter's safety course:</p>
				<ul>
					<li>The ward's maturity  and</li>
					<li> The ward's history of behavior,  including any history of violence, assaults or improper use of firearms.</li>
				</ul>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01I&mdash;FUNERAL ARRANGEMENTS</button>
			<div class="accordion-panel">
				<p>The parent(s) is financially responsible to provide for the funeral. If the parent is not financially able to  provide for the funeral expenses  and burial, the expenses may be paid through state funds but must not exceed usual and customary  charges or a referral may be made for county burial assistance. If parental  rights are terminated or parent(s) cannot be located, supervisory staff will assist the worker in making the funeral arrangement. The following  information will be provided to the mortician:</p>
				<ul>
					<li>Name of child,</li>
					<li>Location of child,</li>
					<li>Child's birthdate and place of birth,</li>
					<li>Date of death, and</li>
					<li>Parent's names.</li>
				</ul>
				<p>If the child has a guardianship account, it will be used to defray the funeral and burial expenses. A headstone may be provided by the Department if no other funds are available.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01J&mdash;FURLOUGHS FROM YRTC</button>
			<div class="accordion-panel">
				<p>Furloughs for youth at  the YRTC will be part of  the total case plan. Furloughs may be granted  to prepare the child for re-entry into the community. The Juvenile Services  Officer will determine when furloughs are appropriate in consultation with the YRTC staff, the parolee and the family.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01K&mdash;GUARDIANSHIP ACCOUNT</button>
			<div class="accordion-panel">
				<p>Funds from a  ward's guardianship account will be used to meet the expenses of a child not covered through other funding sources such as  private insurance and Medicaid. The Department  will approve expenditure of guardianship funds for, but not limited to, the following:</p>
				<ul>
					<li>Clothing,</li>
					<li>School expenses,</li>
					<li>Expenses related to high school graduation,</li>
					<li>Special learning devices,</li>
					<li>Bicycles,</li>
					<li>Contact lenses,</li>
					<li>Orthodontic appliances,</li>
					<li>Other non-medically required  items,</li>
					<li> The purchase of a car, if required  for school attendance or employment, and</li>
					<li>Car insurance.</li>
				</ul>
				<p>Funds from the guardianship account will not be used for:</p>
				<ul>
					<li>General spending money and</li>
					<li>The purchase of guns or other weapons.</li>
				</ul>
				<p>When a ward is discharged from the Department, all funds held by the Department for a ward will be immediately transferred to one of the following:</p>
				<ul>
					<li>The Social Security Administration for disbursement to the appropriate party when SSI or RSDI benefits are involved;</li>
					<li>The ward when she/he is age 17 or older and is living independently of the parent;</li>
					<li>The ward's parent(s), if the ward is still a minor and is dependent upon her/his parent;</li>
					<li>The adoptive parent(s) in cases of adoption; and</li>
					<li>The guardian or conservator, if one has been appointed by the court.</li>
				</ul>
				<p class="zenbox"><small>(See Case Management Guidebook, Discharge of a Ward for procedures for authorizing guardianship fund.)</small></p>
				<p>A youth committed to the YRTCs receives funds to be used for his/her own personal needs. This is kept in  a separate account. The youth receives  the remaining money when s/he leaves the YRTC.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01L&mdash;ILLEGAL DRUGS OR USE OF ANOTHER INDIVIDUAL'S PRESCRIPTION DRUGS</button>
			<div class="accordion-panel">
				<p>Under no circumstances will a child be permitted to use or possess another individual's prescription drugs  or illegal drugs.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01M&mdash;LEISURE ACTIVITIES</button>
			<div class="accordion-panel">
				<p>Children on parole will be encouraged to participate in age appropriate leisure activities. When a child requests permission to participate in organized sports, the worker will consult with the parent and the child's physician. If the child's parent and physician and therapist, when involved, approve the child's request, the worker will give permission to participate. If the child's parent disapproves and the worker supports the child's request, the worker will contact the guardian  ad litem for legal resolution. If the child's physician disapproves based on medical limitations, the worker will not give permission.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01N&mdash;MARRIAGE</button>
			<div class="accordion-panel">
				<p>The worker may grant a ward permission to marry after considering the following:</p>
				<ul>
					<li>The child is 17 years old or older;</li>
					<li>The ward's parent(s) (if parental rights are intact) and the court approve the plan; and</li>
					<li>The two parties demonstrate maturity and are able to financially support themselves.</li>
				</ul>
				<p>Upon marriage,  children adjudicated as abuse, neglect, dependent or status offenders are considered to  be an adult and are discharged. (See 390 NAC 3-008, Ongoing Services, Case Evaluation and Case Closure.) Youth adjudicated as juvenile delinquents may remain on parole if they are married.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01O&mdash;MECHANICAL RESTRAINTS WITH JUVENILE OFFENDERS</button>
			<div class="accordion-panel">
				<p>Every juvenile offender apprehended and detained  by a Juvenile Services  Officer must be mechanically restrained through the use of  wrist or leg restraints  or both. This applies to transportation of the juvenile offender from the point of apprehension and detention to a detention  facility or from a detention facility to a YRTC. A Juvenile  Services Officer may also use restraints in transporting a juvenile  offender under the following situations:</p>
				<ul>
					<li>To protect public safety,</li>
					<li>To prevent the child from injuring himself/herself or others, or</li>
					<li>To ensure the juvenile offender's presence.</li>
				</ul>
				<p>The use of wrist or leg restraints  or both is determined by the Juvenile Services Officer. These restraints  will never be used as punishment and should not be applied for more time than is absolutely necessary. When possible, the need for restraints should be anticipated and assistance from law enforcement officers arranged.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01P&mdash;MILITARY SERVICE</button>
			<div class="accordion-panel">
				<p>The worker may grant a ward permission to enter the military service, after considering the following:</p>
				<ul>
					<li>The ward is age 17 or older;</li>
					<li> The ward's parent(s) (if parental rights are intact) and the court approve the plan; and</li>
					<li>The youth has demonstrated maturity to handle the responsibilities of military service.</li>
				</ul>
				<p>Upon entrance into the military  and completion of basic training, the child is discharged from the Department's responsibility. (See 390 NAC 3-008, Ongoing Services, Case Evaluation and  Closure.) Youth on parole cannot enter or enlist in the military  unless discharged from HHS custody.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01Q&mdash;MONEY HANDLING</button>
			<div class="accordion-panel">
				<p>A worker will not act as a middle person  in transmitting or transferring money from one party to another.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01R&mdash;RELEASE OF PHOTOGRAPHS AND IDENTIFYING INFORMATION</button>
			<div class="accordion-panel">
				<p>No photographs or slides of a  Department ward or other identifying information regarding a Department  ward may be released for use on posters, in presentations, press releases, or newsletters without the written consent of the worker.</p>
				<p>The worker may grant release of photographs and identifying information after considering the following:</p>
				<ul>
					<li>Legal status of parental rights (if parental rights are intact, written parental  consent must be obtained);</li>
					<li>The ward's opinions and wishes; and</li>
					<li>The use of the material (For example, if a child is identifiable, will it be detrimental to the child or his/her family). If a situation is questionable, the worker will not give consent.</li>
				</ul>
				<p><a href="http://dhhs.ne.gov/children_family_services/Documents/PSP%205-2016.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;AM:  #5-2016: The Use of Photographs from Intake to Case Closure</a></p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01S&mdash;RELIGION</button>
			<div class="accordion-panel">
				<p>The Department will provide reasonable opportunities for a child in out-of-home care to maintain his/her religious beliefs and practices. The following will be used as guidelines in providing reasonable opportunities:</p>
				<ul>
					<li>The child's religion is assumed to be that of his/her parent unless the family indicates otherwise.<br />
					</li>
					<li>The child's religious  beliefs will be respected by the out-of-home care providers. This includes  providing reasonable opportunities for the child to practice his/her religious beliefs and honor religious  dietary practices, if applicable.</li>
					<li>The foster care provider  will not require the child to practice the foster care provider's faith (that is, be baptized, receive communion, be confirmed, witness or go to confession).</li>
					<li> The foster care provider  may require the child to attend a place of worship with the family.<br />
						If the child's family, the child or the worker sees this as interfering with the child's practice of his/her religion, other arrangements must be made.<br />
					</li>
					<li>If the child wishes to change his/her religious faith or practice to the foster care provider's religion, parental permission is required unless the parent(s) is unavailable. If parental rights have been terminated, the worker may authorize a change in the child's religion based on the child's best interest.</li>
				</ul>
				<p>The worker will consult with others if the child is involved in any religious  practice which may constitute  a danger to himself/herself or others. The consultation will determine appropriate ways to best serve the child.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01T&mdash;RUNAWAYS</button>
			<div class="accordion-panel">
				<p>When a child is determined to have run away, the worker will take the necessary steps to locate and recover the child. The worker will notify law enforcement and the parent and provider, if the child is placed out of  the  home, as soon as possible. (See Case Management Guidebook, Specific Issues for process.)</p>
				<p>When the child is located, the worker should determine the child's current status and future placement and services. (See Guidebook  for practice.)</p>
				<p><a href="docs/Protective_Service_Alert.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-form.png" alt="Form" width="50" height="61" align="middle">&nbsp;Protective Service Alert</a> </p>
				<p><a href="http://dhhs.ne.gov/children_family_services/Documents/PSP%2012-2016.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Form" width="50" height="61" align="middle">&nbsp;AM: #12-2016: Youth Who Cannot be Located</a></p>
				<p><a href="docs/AM232012_Missing_Child_and_Family_Alerts.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Form" width="50" height="61" align="middle">&nbsp;Missing Child/Family Alerts</a></p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01U&mdash;TOBACCO</button>
			<div class="accordion-panel">
				<p>Use of tobacco by children in  the  care of the Department  is discouraged not only because of the law prohibiting sale of tobacco to persons age 17 or younger but also because  of the serious health hazard that tobacco use presents. The Department staff will not give permission to use, purchase or provide tobacco products for children age 17 or younger.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.01V&mdash;TRAVEL</button>
			<div class="accordion-panel">
				<p>When a child in out-of-home placement will be leaving the State of Nebraska for more than 72 hours, the parent(s), will be notified of the child's travel plans before departure. If the child will be leaving the State of Nebraska  for a substantial period of time, the court or guardian ad litem will be notified  of the child's travel plans before the child's departure. If the parent(s)  disapproves and the worker supports the travel plans, the worker will contact the guardian ad litem for legal resolution.</p>
				<p>All travel will be supervised  by the foster parent or responsible adult if travel is a part of an approved activity. The worker will have access to an itinerary of the child's travel including a means of contacting  for emergencies, if at all possible.</p>
				<p>Juvenile offenders will not leave the state of their residence without written permission of the worker. Juvenile offenders need parental permission to leave the county of their residence.</p>
				<p><a href="docs/travel-letter.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;Sample Travel Letter</a></p>
			</div>
		</div>
	</div>
	<div id="tabs-3">
		<div class="accordion">
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.02A&mdash;NOTIFICATION TO SCHOOL DISTRICTS</button>
			<div class="accordion-panel">
				<p>Department staff will send written notification to the school district where the child resides within seven days of each of the following situations:</p>
				<ul>
					<li>When a child becomes a ward of the Department  (whether removed from the home or not);</li>
					<li>When a child enters a new school district;</li>
					<li>If a child's parents' rights are terminated or relinquished;</li>
					<li>The court dismisses HHS custody;</li>
					<li>The child is adopted;</li>
					<li>A parent who was absent returns; and<</li>
					<li>A child who was a ward turns 19 years old.</li>
				</ul>
				<p>This applies to pre-school and school age children. See Out of Home Care Guidebook for form letter for notification to school district where the child resides.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.02B&mdash;APPOINTMENT OF EDUCATIONAL ADVOCATE (SURROGATE PARENT)</button>
			<div class="accordion-panel">
				<p>The Individual with Disabilities Education  Act established special education rights for children with developmental disabilities. These include the appointment of a surrogate parent by school districts when the child is a ward of the Department. The school district  determines whether a surrogate parent needs to be appointed or not. A Department employee will not serve as the surrogate parent. Parents who retain and exercise the authority to make decisions regarding their child's education should be allowed to exercise those rights.</p>
				<p>Department staff will provide written information to use in deciding to appoint a surrogate parent. The form letter to the school superintendent will provide this information and will be sent under conditions described in 11-002.02A. See Out of Home Care Guidebook for form letter.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.02C&mdash;DISCIPLINE OF CHILDREN BY SCHOOL PERSONNEL</button>
			<div class="accordion-panel">
				<p>If a public school official in Nebraska has used corporal punishment on a child, the worker will immediately report the incident to law enforcement.</p>
				<p>Nebraska statute prohibits corporal punishment in public schools. Neb. Rev. Stat. 28-1413.</p>
				<p>The school official may be charged with violating Neb. Rev. Stat. 28-924, which prohibits a public servant from violating  state law The official  may also be charged with assault.</p>
				<p>If a child attends a private or public school outside of Nebraska, permission will not be given for the use of corporal punishment on a child.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.02D&mdash;EDUCATIONAL PLACEMENT IN NON-PUBLIC SCHOOL SETTING</button>
			<div class="accordion-panel">
				<p>Department wards generally will receive educational programs through public school systems. However, educational placements in a non-public school (including &quot;Rule 13 Schools&quot; and approved or accredited private  or parochial schools) may be considered upon the request of the parent, at parental expense and with no cost to the Department.</p>
				<p>Guidelines: </p>
				<p>Placement in a non-public approved or accredited school may be approved by the worker when:</p>
				<ul>
					<li>The school placement is requested by a parent whose rights are intact (If parental rights are terminated  the school placement is consistent with the case plan.);</li>
					<li>The parent supports the school placement financially and there is no cost to the Department; </li>
					<li>The school can provide for the child's special educational needs, if any. </li>
				</ul>
				<p>Placement in a &quot;Rule 13 School&quot; may be approved only when:</p>
				<ol>
					<li>The school placement is requested by a parent whose parental rights are intact and the goal is reunification;</li>
					<li>The parent signs a statement that she/he believes that the requirements for school approval  and accreditation violate her/his religious beliefs;</li>
					<li>The parent supports the school placement  financially; and</li>
					<li>The county superintendent states in writing that the school can meet the child's educational needs; the worker concurs with this assessment. The worker may obtain an independent assessment or consultation to determine if the placement is appropriate.</li>
				</ol>
				<p>If parental rights are not intact, the ward will not be able to attend a &quot;Rule 13 School&quot; because the second requirement cannot be met.</p>
				<p class="zenbox"><small>Note: &quot;Rule 13&quot; school work may not be transferable or acceptable to a public school college or vocational school.</small></p>
				<p><small>References: Nebraska Department of Education, Title 92, Chapter 13, &quot;Rule 13&quot;.</small></p>
			</div>
		</div>
	</div>
	<div id="tabs-4">
		<div class="accordion">
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.03A&mdash;APPREHENSION AND DETENTION OF JUVENILE OFFENDERS</button>
			<div class="accordion-panel">
				<p>Designated staff of HHS may apprehend and detain children  committed to HHS-OJS as juvenile offenders. All staff doing this action must be trained in apprehension and detention practices. A Juvenile Services Officer will try to resolve issues with the juvenile offender and family before a juvenile is apprehended and detained. If this is not successful, the worker will consult with the supervisor. If it is concluded  that an apprehension and detention is needed, trained workers should do the apprehension and detention using law enforcement personnel when the safety of the worker or the public may be endangered. Restraint equipment should be available for use in all apprehension and detention situations. (See 390 NAC 11-002.01O for use of mechanical restraints.)</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.03B&mdash;BAIL OR PAYMENT OF FINES</button>
			<div class="accordion-panel">
				<p><strong>For Children Adjudicated as Abuse, Neglect, Dependent or Status Offender</strong></p>
				<p>Bail or legally assessed fines may be paid from the ward's own guardianship account. When the ward has no funds in an account, the worker will first contact the parents to arrange payment. If the parent(s) is unable to arrange payment, the worker will then consult with supervisory staff or team to resolve the issue.</p>
				<p>In cases where the Department pays a fine or posts bail, a repayment plan will be established with the child. Repayment by the ward can come from employment or by doing volunteer work.</p>
				<p><strong>For Children Adjudicated as Delinquent</strong></p>
				<p>The Department will not post bail for children adjudicated as delinquent. Payment of fines by these children will be addressed in the case plan.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.03C&mdash;CRIMINAL ACTIVITY BY CHILDREN WHO ARE WARDS</button>
			<div class="accordion-panel">
				<p>Workers should cooperate with law enforcement officials when the latter are trying to detect and apprehend children who are wards known to be or suspected of being involved  in law violations. If workers have definite information which might assist law enforcement, they should provide such facts to the appropriate authorities.</p>
				<p><a href="http://dhhs.ne.gov/children_family_services/Documents/14-2015.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;AM: #14-2015: Interview of a State Ward by Law  Enforcement</a></p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.03D&mdash;NAME CHANGE</button>
			<div class="accordion-panel">
				<p>The worker may consent to changing  a child's name if it is in the best interest  of the child. The parent(s) will be consulted if parental rights are intact. Parent(s)' wishes will be strongly considered. If reunification is the plan, the parent(s) approval must be obtained.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.03E&mdash;LAW ENFORCEMENT OPERATIVES</button>
			<div class="accordion-panel">
				<p>Children who are wards will not be allowed to act as law enforcement operatives.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.03F&mdash;SEARCHES AND SEIZURE</button>
			<div class="accordion-panel">
				<p>Juvenile Services Officer may search a juvenile offender  and his/her surroundings when there is reasonable cause to  believe the juvenile offender is in violation of his/her Conditions of Liberty Agreement or in possession of contraband. Whenever possible the Juvenile Services Officer will consult with his/her supervisor before any search. Before searching surrounding property for weapons, drugs, drug paraphernalia and other contraband, the Juvenile Services Officer will  obtain permission from the parent or owner of the property for entry and search. If permission is not given, the worker will contact law enforcement to proceed with obtaining a warrant. The Juvenile  Service Officer may seize evidence  of a parole violation, law violation or contraband. If a juvenile is living independently, the juvenile can consent to the search of the living premises. (See Case Management for Juvenile Offenders and Status Offenders Guidebook for details.)</p>
			</div>
		</div>
	</div>
	<div id="tabs-5">
		<div class="accordion">
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.04A&mdash;ABORTION</button>
			<div class="accordion-panel">
				<p>A female ward has the right to obtain a legal abortion. The decision to obtain an abortion is the ward's. The child's worker will provide unbiased information to the ward regarding alternatives and appropriate agencies and resources for further assistance. The worker will not encourage, discourage, or act to prevent or require the abortion.</p>
				<p>If a ward decides to have an abortion, the consent of the parent(s) or Department is not required, but notification may be required unless the conditions listed below exist.</p>
				<p>The decision to tell or not to tell the ward's parent is made by the ward. If the ward decides not to tell her parents, the worker will honor that request. When parental rights are intact and the ward decides to tell her/his parent(s), the worker will help the ward inform her parent(s) of her decision.</p>
				<p>Since there may be circumstances under which the worker needs to release information (e.g. medical complications), the worker will inform the ward that her/his  decision may not remain confidential.</p>
				<p>Nebraska law also requires women seeking abortions to be given informed consent 24 hours before the abortion is to be performed, except in an emergency.</p>
				<p>Abortions may be funded through  the Department's Medical Assistance Program only in cases where the life of the mother will be endangered if the fetus is carried to term.</p>
				<div class="zenbox">
					<p><small>NOTE: Under Nebraska  law, written notification by the physician or the physician's agent to the parent  is required 48 hours before the abortion is required for teens age 17 or younger. Notification IS NOT required  if:</small></p>
					<ol>
						<li>The attending physician certifies in writing in the pregnant ward's medical record that continuation of the pregnancy provides an immediate threat  and grave risk to the life or health of the pregnant ward AND there is sufficient time to provide the required notification;</li>
						<li>The abortion is authorized in writing by the parent or guardian (other than the Department) who is entitled to notification;</li>
						<li> The pregnant ward declares that she is a victim of abuse, neglect  or sexual abuse, in which case, notice of her declaration must be provided to the department or law enforcement as required by Neb. Rev. Stat. 28-7111; and</li>
						<li> A judicial parental notification waiver is obtained from a juvenile, county or district court judge.</li>
					</ol>
				</div>
				<p>Nebraska law establishes time limits on this decision stating, &quot;No abortion shall be performed after the time at  which, in the sound medical judgment of the attending physician, the unborn child clearly appears to  have reached viability, except when necessary to preserve the life or health  of the mother.&quot;</p>
				<p>Statutory references: Neb. Rev. Stat. 71-6901 et seq. Neb. Rev. Stat. 28-329.</p>
				<p><a href="http://dhhs.ne.gov/children_family_services/Documents/AM%201-2015.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;AM: #1-2015: State Ward Pregnancy</a></p>
				<p><a href="docs/Abortion-Statute.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;N.R.S.  71-6901-03</a></p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.04B&mdash;AUTOPSY</button>
			<div class="accordion-panel">
				<p>Because the Department's guardianship terminates at  the  time of the child's death, the Department will not give consent to autopsy  after a child's death. The child's parent(s) may then give consent. If parental rights are terminated, any consent for an autopsy will be given by the physicians in the Health and Human Services  System.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.04C&mdash;BIRTH CONTROL, FAMILY PLANNING AND SEX EDUCATION</button>
			<div class="accordion-panel">
				<p>The worker will:<br /></p>
				<ul>
					<li>Arrange for birth control counseling or refer for birth control all age-and-behavior-appropriate male and female wards. (The U.S. Supreme Court has ruled the State cannot deny minors from obtaining contraceptives without parental consent).</li>
					<li>Take into consideration the child's and parent's request for services consistent with their respective  religious beliefs.<br />
					</li>
					<li>Permit the ward treatment for venereal disease without parental consent as outlined in Nebraska Statues 71-1121,  R.R.S., 1986.<br />
					</li>
					<li>Ensure that education regarding  sexuality, birth control and family planning services are part of an overall plan leading to adult responsibility.</li>
				</ul>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.04D&mdash;HIV/AIDS</button>
			<div class="accordion-panel">
				<p>To protect children from discrimination as a result of being tested for the human immunodeficiency virus (HIV), the decision  to test a child for the HIV antibody  will be carefully made on an individual  basis. It is the role of the worker to give written informed consent when a child's situation meets the conditions in  the  protocols in  the  Case Management Guidebook, Specific Issues section. A child will not be tested for HIV unless there is a reasonable cause to believe  the child has been exposed  to the virus. Children may be tested either through  an approved Counseling, Testing, Referral and Partner Notification Site (CTRPNS) or through  the child's medical care provider,  depending on the individual child's situation per the procedures outlined in the guidebook. Informed consent is required  for all HIV and AIDS testing.</p>
				<p>To preserve confidentiality, an HHS approved CTRPNS will be used whenever possible, particularly for older youth who engage in  risk behaviors. These sites provide for the greatest degree of confidentiality as  well as appropriate pre- and post-test counseling regarding the child's risk behaviors.</p>
				<p>The Interagency Agreement  on HIV/AIDS counseling and testing will guide decision-making for children with this condition. (See protocol in Guidelines  for Decision-Making in Case Management  Guidebook.)</p>
				<p>The following four situations should guide decision making for informed consent by the Department for HIV testing:</p>
				<ol>
					<li>Medical Testing: When a child has medical symptoms, with or without other identified risks of HIV exposure, and when a medical provider asks for informed consent to test the child because of these medical indications, it is appropriate for the worker to give informed consent for the child to be tested in a hospital  or clinic as part of the medical evaluation. Even though the testing is done by a medical provider and will become part of the child's medical record, the use of the CTRPNS for counseling services for older children regarding their risk behaviors should be considered and encouraged.<br>
						HHS staff should give informed consent for HIV testing for medical reasons in the following situations:
						<ol type="a">
							<li>The child has hemophilia;</li>
							<li>The child is an infant born to a mother known to be HIV antibody  positive; that is, has AIDS, has HIV disease, or is known to be an HIV carrier;</li>
							<li>The child is an infant under three years of age who was born to a mother known to be at risk for HIV infection  but whose HIV status is unknown and cannot be determined either through her medical record or through current testing. Behaviors that may put the mother at risk for HIV infection include: use of injectable drugs, engaging in sex for money, having multiple sex partners, etc.;<br />
							</li>
							<li> The child has medical signs or symptoms  which are suggestive of an HIV related illness; </li>
							<li>The child is pregnant. (HIV testing  during pregnancy is recommended for all women. In addition, pregnant youth should be encouraged to visit the CTRPNS for appropriate pre and post test counseling.)</li>
						</ol>
					</li>
					<li>Children&rsquo;s Behaviors. Older children who engage in behaviors that put them at risk for HIV infection (for example, multiple sex partners, sex for money, and use of injectable drugs) should be individually evaluated. The use of the Counseling, Testing and Partner Notification Sites should be strongly considered not only for the testing but more importantly for  the  pre and post test counseling which is available. (Using the Counseling, Testing and Partner Notification Sites protects the child&rsquo;s confidentiality, which is a very important consideration for children who are wards.)</li>
					<li> Exposure to Child's Blood. Health care facilities are required to have policies in place to protect their health care workers. These policies are governed by OSHA regulations and by state statutes. When a health care worker has accidentally been exposed to blood or other potentially infectious body fluids of a state ward, the facility will contact the worker per their policies to request informed consent for HIV testing of the ward. Such  events include the accidental explore of blood to a health care worker's  non-intact skin, mucus membranes, or subcutaneous tissue such as through a needle stick injury. The worker should establish that the medical facility  has a policy addressing procedures for accidental exposure  to blood that meet both OSHA requirements and state statute requirements 1) for getting informed consent for testing  from the child's legal guardian; 2) for ensuring that the fact of HIV testing and the results of the testing are kept confidential and do not become part of the patient's medical record; 3) for ensuring that the HHS caseworker for the ward is given the results of the HIV testing. If  these conditions are met, the worker should give informed consent as soon as possible after the exposure to allow the health care worker to be treated with a preventive course of medication. The caseworker  may seek consultation from an HHS physician at any time.</li>
					<li>Forensic Issues. Any information related to HIV infection that may be needed in a court of law (for example, prosecution for child abuse) must be obtained through the regular medical delivery system. Information from CTPNS cannot be used for forensic purposes because it is confidential under the law.</li>
				</ol>
				<p><strong>Results of Testing</strong></p>
				<p>If a child tests positive for HIV in any of the above four situations, the child will be immediately  referred to an appropriate provider for further medical  evaluation and treatment. The child will be provided  with age appropriate counseling and support to assist him/her in emotionally and physically dealing with the condition. The child's parents, foster parents, or immediate caregiver and the child's guardian ad litem will be advised of the child's condition and course of treatment.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.04E&mdash;GENERAL INFORMED CONSENT FOR MEDICAL DIAGNOSIS AND TREATMENT</button>
			<div class="accordion-panel">
				<p>It is the responsibility of the worker  to talk to providers of mental health, substance abuse and medical services  to obtain information about the risks and benefits of treatment in order to give informed consent. Informed consent is sometimes given verbally but a written signature may be required. The worker should involve the parent(s), Guardian ad litem, county attorney and the judge, as appropriate. The worker may seek consultation from physicians within the HHS System.</p>
				<p><small>(See Case Management and Case Management for Juvenile Offenders and Status Offenders Guidebooks, Conflict Resolution for guidelines if there is a disagreement about treatment.)</small></p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.04F&mdash;MEDICAL DECISION MAKING</button>
			<div class="accordion-panel">
				<p>When the Department is guardian of a child resulting from court action or voluntary relinquishment, the Department is legally authorized to make all decisions regarding medical treatment while recognizing the importance of parental involvement in decision making. The worker is responsible for such decisions  but will involve the parents (when parental rights are intact) to the maximum extent possible. The worker may give the foster care provider or contracted residential facilities consent to  obtain emergency or routine medical treatment. Exception: permission for HIV antibody testing or other screening tests for AIDS must follow established Department policy and protocol.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.04G&mdash;ORGAN DONATIONS</button>
			<div class="accordion-panel">
				<p>If the death of a ward is imminent, the hospital where the ward is located  is responsible for seeing and following through with requests for organ donations. If parental rights are not intact, the worker will consent to  an  organ donation after consulting  with the medical director of the Department and consultation with supervisory staff, Guardian ad litem and the court. If parental  rights are intact, consult the above along with the parents.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.04H&mdash;STERILIZATION</button>
			<div class="accordion-panel">
				<p>Children and youth who are wards of the Department will not be sterilized. If  a medical procedure that may or will result in  sterilization is medically necessary  for reasons other than sterilization, the worker may consent after consulting with the supervisor  or team, the parent(s),  guardian ad litem, court, physicians  and legal staff in the HHS System.</p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.04I&mdash;WITHHOLDING OR WITHDRAWAL OF LIFE SUPPORT</button>
			<div class="accordion-panel">
				<p>HHS does not request that a physician order the withholding or withdrawal of life supports  from a terminally ill ward.</p>
				<p>However, when a  physician recommends and requests informed consent for the withholding or withdrawal of life supports from a state ward, the following process shall be used to decide whether such consent will be given:</p>
				<p>The Director  of the Department is responsible for making the decision to withdraw or withhold life support from a terminally ill ward. The decision will be reviewed in light of the child's neurological devastation or proximal death or both. The Director will have input from a central office team consisting of one of the HHS physicians, legal counsel, and a CPS program specialist and from the local office team consisting of the  child's parents (when parental rights are intact), the child's worker, the guardian ad litem, and the District Administrator.</p>
				<p>Department legal counsel will be contacted for any legal action necessary.</p>
				<p>When a request to withdraw or withhold life support is made, the worker will instruct the medical providers to continue life support pending a decision  by the director. The worker in conjunction with the central office team will then be responsible to  collect relevant information for the Director's decision, including letters from the child's attending physicians and a report from the hospital ethics committee.</p>
				<p>If a decision is made to give such informed consent, all parties will be notified in writing that HHS intends to give such consent within a stated period of time. &quot;All parties&quot; means the parents or their attorneys if they are represented by legal counsel, the guardian ad litem, the county attorney and the judge. Informed consent will be given to the medical provider in writing.</p>
				<p>If a decision is made not to give informed consent, the medical provider will be notified in writing by the Director.</p>
				<p><a href="http://dhhs.ne.gov/children_family_services/Documents/13-2015.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;AM:  #13-2015: Life Sustaining Measures</a></p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.04J&mdash;PARENTAL OBJECTIONS TO MEDICAL CARE AND TREATMENT</button>
			<div class="accordion-panel">
				<p>If a parent objects to medical treatment, the worker and parent should gather information and seek medical advice or evidence  of need for treatment. If the parent still objects but the worker's assessment indicates the need for medical care and treatment, the worker will consult with the supervisor. The supervisor and worker should involve the physicians or lawyers or both within the HHS System.</p>
				<p>The parent, whose rights are intact, will be advised of the recommended medical care that the HHS<br />
				staff believe should be done. If the parent still disagrees, then:</p>
				<ol>
					<li>For low risk situations, the worker will discuss the issue with the guardian ad litem and give consent; and<br />
					</li>
					<li>For high-risk situations, the worker will involve the guardian ad litem, county attorney and judge as appropriate.</li>
				</ol>
				<p><a href="http://dhhs.ne.gov/children_family_services/Documents/GrievanceForm.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-form.png" alt="Form" width="50" height="61" align="middle">&nbsp;AM: #10-2014: Parent Grievance and Complaint Procedures</a></p>
				<p><a href="docs/AM-18-2015.pdf" target="_blank"><img src="images/sensitive-issues/icon-web-memo.png" alt="Memo" width="50" height="61" align="middle">&nbsp;AM:  #18-2015: Medical, Dental, and Vision Exams for State Wards</a></p>
			</div>
			<button aria-expanded="false" class="accordion-trigger inactive">11-002.04K&mdash;PARTICIPATION IN MEDICAL RESEARCH PROJECTS</button>
			<div class="accordion-panel">
				<p>Department staff will not give permission  for Department wards to participate in medical research because of the complicated legal and ethical ramifications of the practice. EXCEPTION: An exception may be granted if  a ward would receive direct treatment or therapy that might benefit the ward. An example of this is a terminally ill child with a rare cancer for which there is no known treatment but for which there is a treatment  protocol involving experimental subjects. In this type of situation, the protocol will be evaluated  by staff in the Medical and Legal Divisions of the HHS System. The child, parents, guardian  ad litem and judge must be consulted. The decision  should be made jointly.</p>
			</div>
		</div>
	</div>
</div>