<div class="wdn-band wdn-promo-band">
  <img class="wdn-stretch" src="images/680x210_RAs.jpg" alt="A staff mentoring a student.">
  <div class="wdn-promo-container">
    <div class="wdn-promo-content">
      <span class="wdn-promo-text">Student Opportunities</span>
    </div>
  </div>
</div>
<div class="wdn-band wdn-text-band">
  <div class="wdn-inner-wrapper wdn-inner-padding-no-bottom">
    <h2 class="wdn-center">One of our goals is to teach and mentor students.</h2>
<p> We support many student assistantships and research experiences each year from a variety of departments and disciplines both at the University of Nebraska-Lincoln and the University of Nebraska-Omaha. These students will be able to have hands-on experience working in a policy-relevant center where they can put their research skills to use on real-world problems.</p>
        <p>Helping students help their future:</p>
        <ul>
          <li>Students assist in research activities at CCFL.</li>
          <li>Students assist with service activities at CCFL.</li>
          <li>Students work with the faculty and project directors to present at conferences or publish their research.</li>
        </ul>
  </div>
</div>
<div class="wdn-band wdn-light-neutral-band">
  <div class="wdn-inner-wrapper">
    <h2 class="wdn-center">Opportunities available</h2>
    <p class="wdn-center wdn-intro-p">Come get hands-on experience working in a policy-relevant center</p>
    <div class="wdn-grid-set">
      <div class="wdn-col button-icon-h__wrapper">
        <a class="button-icon-h"  href="student-opportunities/graduate-opportunities">Graduate Opportunities</a>
        <a class="button-icon-h" href="student-opportunities/undergraduate-opportunities">Undergraduate Opportunities</a>
      </div>
    </div>
  </div>
</div>