<div class="wdn-grid-set">
  <div class="bp768-wdn-col-one-half">
    <p>Center on Children, Families, and the Law (CCFL) offers specialized training in child welfare, early childhood, legal, school nurses, probation, respite providers, and services coordinators. CCFL has the ability to customize curricula and develop empirically-supported tests to evaluate trainee knowledge. CCFL’s faculty and staff bring a unique and comprehensive array of educational backgrounds and skills to bear on issues related to the well-being of children, youth, families and the agencies that serve them.</p>
    <p>CCFL prides itself on being a truly interdisciplinary university center that has been doing empirically-based and pedagogically-sound training. The research conducted at CCFL is translational and impactful on topics most important to children and families. </p>
  </div>
  <div class="bp768-wdn-col-one-half">
    <figure class="wdn-frame clear-top">
      <img src="images/P1000759-min.JPG" alt="Trainees in a classroom." />
    </figure>
  </div>
</div>
<p>CCFL houses several interrelated research and training projects, including:</p>
<ul class="multicolumn">
  <li>job analysis</li>
  <li>training needs assessment</li>
  <li>curriculum development</li>
  <li>delivery of pre-service, specialized, and in-service training</li>
  <li>field-learning supervision</li>
  <li>training evaluation</li>
  <li>assessment of worker performance</li>
</ul>
<div class="wdn-band wdn-light-neutral-band">
  <div class="wdn-inner-wrapper">
    <h2>In one year ...</h2>
    <div class="infographic-gridset">
      <div class="infographic__wrapper">
        <div class="infographic">
          <span class="infographic-emp">3395</span>
          <span class="infographic-normal">people trained</span>
        </div>
        <div class="infographic">
          <span class="infographic-emp">7081</span>
          <span class="infographic-normal">hours of curriculum development</span>
        </div>
      </div>
    </div>
  </div>
</div>
<p>If you'd like to request a training or would like additional information, please complete our Training Request Form. Please note that there may be a cost associated with some training.</p>
<a class="wdn-button wdn-button-brand" href="training-request-form">Training Request Form</a>