<div class="wdn-band">
	<div class="wdn-inner-wrapper wdn-inner-padding-no-top">
		<div class="wdn-grid-set">
			<div class="bp768-wdn-col-two-thirds">
				<p>Undergraduate students assist in many of the research activities at CCFL. They typically obtain research credit hours for their work, but they are also occasional funded projects. There are also opportunities through the university's Undergraduate Creative Activities and Research Experience (UCARE) program.</p>
				<p>Our students have completed their Honors Thesis and have presented their findings at conferences or published their findings. Many of the undergraduates at CCFL have gone on to competitive graduate school programs around the nation.</p>
			</div>
			<div class="bp768-wdn-col-one-third">
				<figure class="wdn-frame clear-top">
					<img src="images/eve-conference-min.jpg" alt="A multicultural happy family." />
				</figure>
			</div>
		</div>
	</div>
</div>
<div class="wdn-band wdn-light-neutral-band">
	<div class="wdn-inner-wrapper">
		<h2>Volunteer opportunities</h2>
		<p>To volunteer, you must be a current University of Nebraska–Lincoln student (undergraduate or graduate/professional). Students can start volunteering with CCFL at any time of the year. As a volunteer, you will have the chance to learn, meet others and make a difference in the lives of those who work with children and families.  Volunteers have the opportunity to assist with a variety of research, service, and training projects.</p>
		<p><a href="student-opportunity-interest" class="wdn-button wdn-button-brand">Contact us for volunteer opportunities</a></p>
	</div>
</div>
<div class="wdn-band">
	<div class="wdn-inner-wrapper">
		<h2>Internship opportunities</h2>
		<p>Our internship opportunities prepare undergraduates and graduate students to think differently and drive innovation in research, policy, and practice. Positions may be full-time, part-time, paid or unpaid and many University of Nebraska–Lincoln departments allow you to earn academic credit in conjunction with an internship.</p>
		<p><a href="student-opportunity-interest" class="wdn-button wdn-button-brand">Contact us for volunteer opportunities</a></p>
	</div>
</div>
<div class="wdn-band wdn-light-neutral-band">
	<div class="wdn-inner-wrapper">
		<h2>UCARE opportunities</h2>
		<p>The Undergraduate Creative Activities and Research Experience (UCARE) program at the university is a paid opportunity to work one-on-one with a faculty research advisor.</p>
		<p><a href="https://ucare.unl.edu/" class="wdn-button wdn-button-brand">Learn more about UCARE</a></p>
	</div>
</div>
<div class="wdn-band">
	<div class="wdn-inner-wrapper">
		<h2>Work study opportunities</h2>
		<p>Student worker positions are only available to students who are enrolled, regularly attending classes at, and working for the university as a form of merit-based student financial assistance provided through the university. Employment in student worker positions will not be covered by any program of unemployment insurance.</p>
		<p><a href="https://financialaid.unl.edu/loans_ug.shtml" class="wdn-button wdn-button-brand">Learn more about work study</a></p>
	</div>
</div>