<div class="wdn-band">
  <div class="wdn-inner-wrapper wdn-inner-padding-no-top">
    <p>At the Center on Children, Families, and the Law, we serve:</p>
    <ul class="multicolumn">
      <li>The community</li>
      <li>The homeless</li>
      <li>Families</li>
      <li>Maltreated children</li>
      <li>Elders</li>
      <li>Care-workers</li>
      <li>Attorneys</li>
      <li>Judges</li>
      <li>Policymakers</li>
      <li>Youth involved in the juvenile justice system</li>
      <li>Child welfare agencies (organizational systems)</li>
      <li>Therapists&nbsp;</li>
      <li>Local and state service providers</li>
      <li>Agencies</li>
      <li>Tribes</li>
      <li>Service coordinators</li>
      <li>Individuals with disabilities and their families</li>
      <li>Probation officers</li>
      <li>School personnel</li>
    </ul>
  </div>
</div>
<div class="wdn-band wdn-light-neutral-band">
  <div class="wdn-inner-wrapper">
    <h2>Serving Nebraska</h2>
    <p>Service to the state is a central component of the mission of the University of Nebraska. CCFL holds a strong commitment to the people of Nebraska. Center faculty and staff work closely with state and local agencies, and nonprofit organizations to promote child and family welfare through training and educational programs, legal and policy analyses, program evaluation, consultation with service providers, and research intended to address practical child and family welfare issues. </p>
  </div>
</div>
<div class="wdn-band">
  <div class="wdn-inner-wrapper">
    <h2>Serving the Nation</h2>
    <p>CCFL is committed to the development and dissemination of knowledge that advances the well-being of all the nation's children and families. Research and other scholarly work undertaken by the CCFL faculty and staff have been instrumental in shaping policies and laws in states other than Nebraska and at the national level.  Center faculty frequently act as sources for the news divisions of television and radio broadcasters and the national print media. CCFL faculty also serve on a variety of boards and advisory committees for national organizations concerned with child and family policy. </p>
  </div>
</div>