.accordion {
  margin: 2em 0; }

.accordion-trigger {
  font-size: 1em;
  background-color: #e7f0f4;
  color: #444;
  cursor: pointer;
  padding: 1em;
  width: 100%;
  border: 1px solid #fff;
  text-align: left;
  transition: 0.4s;
  display: block;
  position: relative;
  padding-right: 4em; }
  .accordion-trigger:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 0.8em;
    color: #777;
    float: right;
    margin-left: 0.5em;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-50%); }
  .accordion-trigger:focus, .accordion-trigger:hover {
    background-color: #137cbd;
    color: #fff;
    z-index: 1; }

.accordion-trigger[aria-expanded="true"]:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
  color: #fff; }

.accordion-panel {
  padding: 0 1em;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

.node-type-alumni-stories #pagetitle {
  text-align: center; }

.node-type-alumni-stories .alumny-story__cite {
  font-style: italic;
  font-size: 0.8em;
  text-align: center; }

.blockquote {
  font-size: 1.2em;
  letter-spacing: 0;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto; }

.alumni-story__wrapper,
.view-alumni-stories {
  font-size: 1rem; }

.view-alumni-stories .more-link {
  text-align: center; }
  .view-alumni-stories .more-link a {
    font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    text-transform: uppercase;
    font-size: 0.8em; }

.view-alumni-stories.view-display-id-page .view-content {
  margin-top: 4em; }

.view-alumni-stories.view-display-id-page .views-row {
  border-top: 1px solid #bbb; }

.announcement__container-teaser {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 1rem;
  padding-left: 0; }

.announcement {
  margin-bottom: 0;
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 .7rem; }
  @media screen and (min-width: 400px) {
    .announcement {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; } }
  @media screen and (min-width: 600px) {
    .announcement {
      -ms-flex: 1;
          flex: 1; } }

.announcement__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  width: 100%; }
  .announcement__wrapper h3 {
    font-weight: 400;
    margin-top: .254em;
    -ms-flex-order: 2;
        order: 2; }
    .announcement__wrapper h3 a {
      font-size: 0.75em; }
  .announcement__wrapper > a {
    font-size: 0.85em;
    border-bottom: 0;
    display: block;
    width: 100%;
    line-height: 1; }
    .announcement__wrapper > a > img {
      width: 100%;
      padding-top: 1em; }

.node-announcement .description-and-image > p:first-of-type {
  padding-top: 1.157em;
  font-size: 1.333rem; }

.submitted {
  font-size: 0.8em; }

.border--top {
  border-top: 1px solid #d5d5d2; }

.button-icon-h__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
      justify-content: center; }

a.button-icon-h {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  -ms-flex: 0 1 100%;
      flex: 0 1 100%;
  background-color: #d00000;
  color: #fff;
  padding: 1em 1.333em;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  line-height: 1.3;
  -ms-flex-pack: center;
      justify-content: center; }
  @media (min-width: 31.25em) {
    a.button-icon-h {
      width: 45%;
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%; } }
  @media (min-width: 56em) {
    a.button-icon-h {
      width: 23%;
      -ms-flex-preferred-size: 23%;
          flex-basis: 23%; } }
  a.button-icon-h:hover, a.button-icon-h a:visited {
    background-color: #6a0000;
    color: #fff; }

.card--card_button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 1rem; }
  .card--card_button a {
    -ms-flex: 1;
        flex: 1;
    font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
    text-transform: uppercase;
    font-size: 0.75em;
    line-height: 1.5;
    box-shadow: 0px 5px 0px 0px #795e16;
    margin: 1em;
    padding: 4em;
    border-radius: 5px;
    font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: center;
        justify-content: center; }

.card--card_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .card--card_list .card {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    padding: 1em 2em;
    margin: 0.4em;
    border-radius: 5px;
    background-color: #eceae3;
    min-width: 32%; }
    @media screen and (min-width: 500px) {
      .card--card_list .card {
        -ms-flex-preferred-size: 32%;
            flex-basis: 32%; } }

/* Drug Chart */
.skin-ribbon {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

fieldset {
  border: none; }

#drug-chart-form {
  background-color: #eee; }

.helper, .uberHelper {
  position: relative;
  display: inline-block; }

.accordionIcon + i {
  padding-left: 10px;
  top: 50%;
  position: absolute;
  margin-top: -9px; }

i {
  vertical-align: top; }

i + .accordionIcon {
  padding-left: 10px; }

.noContent:before, .noContent:after {
  color: transparent !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border-color: transparent !important; }

#searchInput {
  display: inline-block;
  width: 84%;
  padding: .75em;
  font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
  font-weight: 400;
  font-style: normal;
  outline: 0;
  border: 1px solid #d5d5d2;
  border-radius: 2px;
  background-color: #fff; }

#button {
  padding: 1.769em 1.033em 1.6em;
  width: 14%; }

ul[id^=accordion] {
  padding-left: 0; }
  ul[id^=accordion] > li {
    margin-left: 0; }

ul[id^=accordion] > li > ul {
  padding-left: 0; }

ul[id^=accordion] > li > ul > li > ul {
  padding-left: 0; }

.ctAccordion.skin-ribbon {
  -webkit-padding-start: 0 !important;
  list-style: none;
  position: relative; }

.ctAccordion.skin-ribbon ul {
  margin: 0;
  list-style: none;
  overflow: hidden;
  -webkit-padding-start: 0 !important; }

.ctAccordion.skin-ribbon a,
.ctAccordion.skin-ribbon span {
  line-height: 20px;
  text-decoration: none;
  min-width: 50px;
  transition: all .2s ease-out; }

.ctAccordion.skin-ribbon a.noContent:after, .ctAccordion.skin-ribbon span.noContent:after {
  padding-left: 10px;
  font-family: FontAwesome;
  color: #fff !important;
  content: "\f0da" !important; }

.ctAccordion.skin-ribbon .searchMatch {
  font-weight: 700;
  font-style: italic; }

.ctAccordion.skin-ribbon > li {
  width: 100%; }

.ctAccordion.skin-ribbon > li > a,
.ctAccordion.skin-ribbon > li > span {
  display: block;
  background-color: #737271;
  color: #fff;
  padding: 0 0 0 20px;
  width: 99%;
  line-height: 43px;
  border-bottom: 1px solid white; }

.ctAccordion.skin-ribbon > li > a .helper,
.ctAccordion.skin-ribbon > li > span .helper {
  border-left: 15px solid #737271;
  border-bottom: 22px solid transparent;
  border-top: 21px solid transparent;
  width: 0;
  height: 0;
  position: relative;
  display: inline-block;
  float: right;
  top: -.5px;
  right: 0;
  bottom: 0;
  left: 14px; }

.ctAccordion.skin-ribbon > li > a:hover {
  padding: 0 0 0 30px; }

.ctAccordion.skin-ribbon > li span {
  color: rgba(255, 255, 255, 0.5) !important; }

.ctAccordion.skin-ribbon > li > ul {
  list-style: none;
  padding: 0 0 5px 25px;
  margin-left: 1em;
  margin-right: 1em; }

.ctAccordion.skin-ribbon > li > ul > li {
  margin: 7px 0; }

.ctAccordion.skin-ribbon > li > ul > li > a {
  padding: 0.75em 0 0.75em 1em;
  border-bottom: 0;
  display: block;
  background-color: #eee; }

.ctAccordion.skin-ribbon > li > ul > li > a:before {
  color: #818181;
  content: '\f0c8';
  font-family: wdn-icon;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none; }

.ctAccordion.skin-ribbon > li > ul > li > a.noContent:after {
  color: #818181 !important; }

.ctAccordion.skin-ribbon > li > ul > li > a.noContent:hover:after {
  color: #333 !important; }

.ctAccordion.skin-ribbon > li > ul > li span {
  color: rgba(129, 129, 129, 0.5) !important; }

.ctAccordion.skin-ribbon > li > ul > li > span {
  padding: 0 0 0 52px; }

.ctAccordion.skin-ribbon > li > ul > li.open > a {
  color: #333; }

.ctAccordion.skin-ribbon > li > ul > li > ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 5px; }

.ctAccordion.skin-ribbon > li > ul > li > ul > li {
  padding: 0 0 0 1em; }

.ctAccordion.skin-ribbon > li > ul > li > ul > li > a, .ctAccordion.skin-ribbon > li > ul > li > ul > li > span {
  padding: 10px 0 5px 40px;
  color: #818181; }

.ctAccordion.skin-ribbon > li > ul > li > ul > li > a:hover, .ctAccordion.skin-ribbon > li > ul > li > ul > li > span:hover {
  color: #333; }

.ctAccordion.skin-ribbon > li > ul > li > ul > li > span {
  padding-left: 40px; }

.ctAccordion.skin-ribbon > li > ul > li > ul > li > p {
  padding: 10px 20px 15px 20px; }

@media screen and (max-width: 768px) {
  ul[id^=accordion] {
    padding-bottom: 5% !important; }
  ul[id^=accordion] .accordion:after {
    float: left !important;
    margin-left: 0 !important; }
  ul[id^=accordion] li a:before {
    width: 0 !important;
    padding-right: 20px; }
  #accordion4 li a:before {
    width: 100% !important;
    float: right !important;
    padding-right: 20 pxight20 !important; } }

#follow-us {
  background-color: #1c3b4a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%; }

.follow-us__wrapper {
  font-size: 1rem; }
  .follow-us__wrapper h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #fff; }
  .follow-us__wrapper ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    .follow-us__wrapper ul li > a {
      display: block;
      border-bottom: 0; }
    .follow-us__wrapper ul li [class^=icon-] {
      width: 4em;
      height: 4em; }

[class^=icon-] {
  display: block;
  background-position: center center;
  background-size: contain;
  margin: 0 auto; }

.icon-logo-circle-facebook {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2021.0.2%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text/css%22%3E%0A%09.st0%7Bfill%3A%23365899%3B%7D%0A%09.st1%7Bfill%3A%23FFFFFF%3B%7D%0A%09.st2%7Bfill%3Anone%3B%7D%0A%3C/style%3E%0A%3Cg%20id%3D%22Filled_Icons%22%3E%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M12%2C0C5.4%2C0%2C0%2C5.4%2C0%2C12s5.4%2C12%2C12%2C12s12-5.4%2C12-12S18.6%2C0%2C12%2C0z%22/%3E%0A%09%3Cpath%20class%3D%22st1%22%20d%3D%22M15.6%2C11.5h-2.1c0%2C3%2C0%2C7%2C0%2C7h-3c0%2C0%2C0-4%2C0-7h-2v-2h2V8.3c0-1.1%2C0.4-2.8%2C2.6-2.8l2.4%2C0v2.3c0%2C0-1.2%2C0-1.4%2C0%0A%09%09c-0.2%2C0-0.6%2C0.1-0.6%2C0.6v1h2.3L15.6%2C11.5z%22/%3E%0A%3C/g%3E%0A%3Cg%20id%3D%22Frames-24px%22%3E%0A%09%3Crect%20class%3D%22st2%22%20width%3D%2224%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A");
  background-repeat: no-repeat; }

.icon-logo-circle-twitter-bird {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2021.0.2%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text/css%22%3E%0A%09.st0%7Bfill%3A%231DA1F3%3B%7D%0A%09.st1%7Bfill%3A%23FFFFFF%3B%7D%0A%09.st2%7Bfill%3Anone%3B%7D%0A%3C/style%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M12%2C0C5.4%2C0%2C0%2C5.4%2C0%2C12s5.4%2C12%2C12%2C12s12-5.4%2C12-12S18.6%2C0%2C12%2C0z%22/%3E%0A%3Cpath%20class%3D%22st1%22%20d%3D%22M17.3%2C9.4c0%2C0.1%2C0%2C0.2%2C0%2C0.3c0%2C3.5-2.6%2C7.5-7.5%2C7.5c-1.5%2C0-2.9-0.4-4-1.2c1.4%2C0.2%2C2.8-0.2%2C3.9-1.1%0A%09c-1.2%2C0-2.1-0.8-2.5-1.8c0.4%2C0.1%2C0.8%2C0.1%2C1.2%2C0c-1.2-0.2-2.1-1.3-2.1-2.6c0%2C0%2C0%2C0%2C0%2C0c0.4%2C0.2%2C0.8%2C0.3%2C1.2%2C0.3%0A%09c-0.7-0.5-1.2-1.3-1.2-2.2c0-0.5%2C0.1-0.9%2C0.4-1.3c1.3%2C1.6%2C3.2%2C2.6%2C5.4%2C2.8C12%2C9.8%2C12%2C9.6%2C12%2C9.4c0-1.5%2C1.2-2.6%2C2.6-2.6%0A%09c0.8%2C0%2C1.4%2C0.3%2C1.9%2C0.8c0.6-0.1%2C2-0.3%2C2-0.3C18.1%2C7.9%2C17.8%2C9%2C17.3%2C9.4z%22/%3E%0A%3Cg%20id%3D%22Frames-24px%22%3E%0A%09%3Crect%20class%3D%22st2%22%20width%3D%2224%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A");
  background-repeat: no-repeat; }

.inline-icon-white {
  fill: #fff;
  margin-right: 11px; }

.inline-icon-text {
  fill: #474746;
  margin-right: 11px; }

.infographic {
  width: 100%;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  text-align: center;
  margin-bottom: 1em;
  padding: 1em; }
  @media screen and (min-width: 640px) {
    .infographic {
      width: 30%; } }
  .infographic-emp {
    font-size: 2em;
    display: block;
    line-height: 1.3;
    margin-bottom: 0.2em; }
  .infographic-normal {
    display: block; }
  .infographic-gridset {
    position: relative;
    font-size: 1rem; }
    .infographic-gridset:before, .infographic-gridset:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background: #d00000;
      transition: all 0.3s ease; }
    .infographic-gridset:before {
      height: 50%;
      width: 2px; }
    .infographic-gridset:after {
      width: 20%;
      height: 2px; }
  .infographic__wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    padding: 1.5em 2em;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .infographic__wrapper:before, .infographic__wrapper:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: #d00000;
      transition: all 0.3s ease; }
    .infographic__wrapper:before {
      height: 50%;
      width: 2px; }
    .infographic__wrapper:after {
      width: 20%;
      height: 2px; }

.knockout-around {
  position: relative;
  width: 400px;
  padding: 20px;
  border: 5px solid transparent;
  border-right-color: #d00000;
  margin: 40px auto; }
  .knockout-around:before, .knockout-around:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, transparent, #d00000);
    left: 0;
    right: 0;
    width: calc(100% + 4px); }
  .knockout-around:before {
    top: -5px;
    bottom: 100%; }
  .knockout-around:after {
    top: 100%;
    bottom: -5px; }

ul {
  list-style: outside disc; }
  ul > li {
    margin-left: 1em; }

@media screen and (min-width: 700px) {
  .multicolumn {
    column-count: 2;
    column-width: 13em;
    column-gap: 2.5em; } }

.steps {
  list-style-type: none;
  counter-reset: ol-counter;
  padding: 20px 0 0 0; }
  .steps li {
    float: left;
    font-size: 15px;
    line-height: 1.6em;
    display: block; }
    .steps li:before {
      content: counter(ol-counter);
      counter-increment: ol-counter;
      color: #d00000;
      font-size: 2em;
      border-right: 1px #5b5b5a solid;
      padding-right: 0.5em;
      margin-right: 0.5em;
      width: 0.5em;
      height: 1.7em;
      margin-bottom: 1.5em;
      float: left; }

.home__featured-band {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.home__featured {
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
  position: relative;
  font-size: 1rem;
  background-color: #492423;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap; }
  @media screen and (min-width: 600px) {
    .home__featured {
      -ms-flex-preferred-size: 58%;
          flex-basis: 58%; } }
  .home__featured > img {
    height: 35em;
    object-fit: contain; }

.feature__container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 2em; }

.feature__content {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .feature__content > span {
    font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
    text-transform: uppercase; }

.feature__lg-text {
  font-size: 5em;
  line-height: 1.3;
  padding: 0.1em 0.2em;
  position: relative; }
  .feature__lg-text:before {
    content: "";
    height: 1.6em;
    width: 1.6em;
    border: 11px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg); }

.feature__sm-text {
  font-size: 1.4em; }

.feature__xs-text {
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
  color: #d6d5d5; }

.mission--alternative {
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  @media screen and (min-width: 600px) {
    .mission--alternative {
      -ms-flex-preferred-size: 38%;
          flex-basis: 38%; } }

.mission__container {
  padding: 2em;
  width: 100%; }

.mission,
.mission--alternative {
  font-size: 1rem; }
  .mission h2,
  .mission--alternative h2 {
    font-size: 3em;
    text-transform: capitalize; }

.image--right-sm {
  float: right;
  margin-left: 1em;
  margin-top: 0;
  width: 40%; }

.image--md {
  max-width: 70%; }

.project__link,
.announcement__link {
  margin-top: 2em; }

.project__team-band {
  border-top: 1px solid #d5d5d2;
  margin-top: 3em; }

.page-faculty-and-staff .view-staff {
  margin-top: 4em; }

.page-faculty-and-staff h1,
.page-node-5 h1 {
  text-align: center;
  text-transform: capitalize; }

.staff__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.staff .field-label {
  font-size: 2em;
  font-family: "Tungsten A","Tungsten B",HelveticaNeueCondensed,HelveticaNeue-Condensed,"Helvetica Neue Condensed",HelveticaNeueRomanCondensed,HelveticaNeue-Roman-Condensed,"Helvetica Neue Roman Condensed","Arial Narrow",HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",Helvetica,Tahoma,Geneva,Arial,sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important; }

.staff .field-name-field-image img,
.staff .views-field-field-image img {
  border: 1px solid #d5d5d2;
  padding: 0.4em; }

.staff--teaser {
  font-size: 0.8rem;
  text-align: center;
  padding: 1em;
  -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
  @media screen and (max-width: 350px) {
    .staff--teaser {
      padding: 0.2em; } }
  @media screen and (min-width: 500px) {
    .staff--teaser {
      -ms-flex-preferred-size: 33.33%;
          flex-basis: 33.33%; } }
  @media screen and (min-width: 992px) {
    .staff--teaser {
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%; } }

.staff--full {
  font-size: 1rem;
  padding-top: 2em;
  padding-bottom: 2em; }
  @media screen and (min-width: 700px) {
    .staff--full {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; } }

.staff--color {
  background-color: #eceae3;
  padding: 3em;
  border-radius: 4px; }

@media screen and (max-width: 699px) {
  .staff__primary {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-align: center;
        align-items: center; } }

@media screen and (min-width: 700px) {
  .staff__primary {
    -ms-flex: 1 0 20%;
        flex: 1 0 20%; } }

@media screen and (min-width: 700px) {
  .staff--reverse .staff__primary {
    -ms-flex-order: 2;
        order: 2;
    padding-left: 2em; } }

@media screen and (min-width: 700px) {
  .staff__secondary {
    -ms-flex: 1 0 80%;
        flex: 1 0 80%;
    padding-left: 2em; } }

@media screen and (min-width: 700px) {
  .staff--reverse .staff__secondary {
    -ms-flex-order: 1;
        order: 1;
    padding-left: 0; } }

.staff--full .staff__title {
  font-size: 1em;
  line-height: 1.5;
  font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .02em;
  color: rgba(91, 91, 90, 0.9); }

.staff--teaser .staff__title {
  font-size: 0.8em; }

@media screen and (max-width: 699px) {
  .staff__image {
    -ms-flex: 1 0 30%;
        flex: 1 0 30%; } }

@media screen and (max-width: 699px) {
  .staff--full .staff__information {
    -ms-flex: 1 0 70%;
        flex: 1 0 70%;
    padding-left: 2em; } }

.staff--full .staff__information > span {
  display: block; }

@media screen and (min-width: 700px) {
  .field-name-field-area-of-interest ul {
    column-count: 2;
    column-width: 13em;
    column-gap: 2.5em; } }

.wdn-tungsten {
  font-family: "Tungsten A","Tungsten B",HelveticaNeueCondensed,HelveticaNeue-Condensed,"Helvetica Neue Condensed",HelveticaNeueRomanCondensed,HelveticaNeue-Roman-Condensed,"Helvetica Neue Roman Condensed","Arial Narrow",HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",Helvetica,Tahoma,Geneva,Arial,sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important; }

.tile {
  padding-bottom: 1.5em;
  margin-left: 1.5em; }
  .tile > p, .tile > a {
    margin-left: 2.5em; }
  .tile:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.margin-bottom--default {
  margin-bottom: 2em; }

.well {
  background-color: #eceae3;
  padding: 1em 3em 2em;
  border-radius: 4px; }

.wdn-button {
  padding: 1.369em 2.033em 1.4em; }

.background--diamond-pattern {
  background-color: #d00000;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent 100%), linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 100%), url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e70a0a' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
  color: #fff; }
  .background--diamond-pattern h2 {
    color: #fff; }

.visual-highlight {
  background-color: #B34E26;
  color: #fff; }

.table--responsive {
  display: block;
  width: 100%;
  overflow-x: auto; }

.title-line {
  margin-top: 0;
  margin: 0 .7rem;
  border-bottom: 1px solid #eae9e6;
  text-transform: uppercase;
  padding-bottom: 0.339em; }

.more-link a {
  font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .7692308rem;
  text-transform: uppercase;
  letter-spacing: .02em; }
  @media screen and (min-width: 48em) {
    .more-link a {
      font-size: .75rem; } }
  .more-link a:after {
    content: '\2192';
    padding-left: .254em; }

/*# sourceMappingURL=styles.css.map */
