@mixin tungsten {
	font-family: "Tungsten A","Tungsten B",HelveticaNeueCondensed,HelveticaNeue-Condensed,"Helvetica Neue Condensed",HelveticaNeueRomanCondensed,HelveticaNeue-Roman-Condensed,"Helvetica Neue Roman Condensed","Arial Narrow",HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",Helvetica,Tahoma,Geneva,Arial,sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

@mixin sans-serif {
	font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin subhead {
	font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .02em;
    color: rgba(91,91,90,.9);
}